<div class="main">
  <app-banner [heading]="nav.heading" [subheading]="nav.subheading"></app-banner>
  <div class="form">
    <form *ngIf="rForm" class="form" [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
      <mat-tab-group class="tab-group">
        <mat-tab t-tab label="Change password">
          <div class="form-fields">
            <div class="col-1-of-1">
              <div class="input-group">
                <label>New password</label>
                <input matInput placeholder="Password" formControlName="Password" MatFormFieldControl
                [type]="hidePassword ? 'password' : 'text'" required>
                <mat-error class="error"
                  *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched">
                  Password is required</mat-error>
              </div>
              <div class="input-group password">
                <label>Confirm new password</label>
                <!-- <input matInput formControlName="ConfirmPassword"> -->
                <input matInput placeholder="Confirm Password" formControlName="ConfirmPassword" MatFormFieldControl
                  [type]="hidePassword ? 'password' : 'text'" required>
                <div mat-icon-button matSuffix (click)="hidePassword = !hidePassword" class="hidePassword"
                  [attr.aria-label]="'Hide password'">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
                <mat-error class="error"
                  *ngIf="!rForm.controls['ConfirmPassword'].valid && rForm.controls['ConfirmPassword'].touched">
                  Confirm password required</mat-error>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="actions">
        <button type="submit" [disabled]="!rForm.valid" class="btn cta">Change Password</button>
        <button type="button" class="btn secondary cta" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
