
.form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 1em;
  width: 25em;
  border-radius: 5px;
  margin: 0 auto;
}
.form-heading {
  font-size: 1.5em;
  margin: 2em 0;
}

::ng-deep {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      background: #ffffff !important;
      padding: 0em 1em;
      border: solid 1px #DCDDE1;
      border-radius: 5px;
    }
  }
}

