@import '../../../../../assets/styles/general/colors';

.main {
  .label {
    font-size: .8rem;
    display: block;
    color: $strong-grey;
    padding: 1rem;
  }

  .catergories-tab {
    display: flex;

    .catergory {
      background: $tab-bg;
      color: $black;
      margin: 1rem;
      padding: .7rem 1rem;
      font-weight: 800;
      font-size: .85rem;
      border-radius: 2rem;
      cursor: pointer;
    }

    .catergory-active {
      background: $tab-selected-bg;
      color: $black;
    }
  }
}

.form {
  .btn {
    padding: 0;
    border-radius: 4px;
  }
}

.table {
  .row {
    border: 2rem solid $white;
    border-radius: 5px;
  }
}

.mat-icon-button{
  width: 50%;
}
