<div class="main">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
  <div class="create-product-form form">


    <mat-tab-group class="tab-group">


      <mat-tab label="Order datils">
        <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">
          <div class="form-fields">

            <div class="input-group">
              <label>Enter Customer</label>
              <input type="search" formControlName="CustomerId"
                placeholder="Select the customer/partner that this order is for.">
            </div>

            <div class="input-group">
              <label>Enter Project title / number</label>
              <input matInput formControlName="ProjectNumber" placeholder="Project title / number.">
            </div>

            <div class="col-2">
              <div class="input-group">
                <label>Delivery date</label>
                <input type="date" matInput formControlName="DeliveryDate" class="shoter-input" placeholder="750.99">
              </div>
              <div class="input-group">
                <label>Delivery time</label>
                <input matInput type="time" formControlName="DeliveryTime" placeholder="each or kg">
              </div>
            </div>

            <div class="input-group">
              <label>Delivery address</label>
              <textarea formControlName="DeliveryAddress"></textarea>
            </div>

            <div class="input-group">
              <label>Special instructions</label>
              <textarea formControlName="SpecialInstructions"></textarea>
            </div>


          </div>
        </form>
      </mat-tab>


      <mat-tab label="Order products">
        <div class="label">Filter products by <b>catergories</b></div>
        <div class="catergories-tab" *ngIf="catergories$ | async as catergories">
          <div class="catergory catergory-active">
            All
          </div>
          <div *ngFor="let catergory of catergories" class="list-catergories">
            <div class="catergory">
              {{catergory.CategoryName}}
            </div>
          </div>
        </div>

        <div class="main" *ngIf="products$  | async as products">
          <div class="table" *ngIf="products.length > 0; else notFound">
            <div class="header">
              <div class="item">Product Name</div>
              <div class="item">Product Code</div>
              <div class="item"> Price</div>
              <div class="item"> Category</div>
              <div class="item"> </div>
            </div>
            <div class="row" *ngFor="let item of products">
              <div class="item">
                <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
                <img src="assets/images/product-placeholder.png" *ngIf="!item.Images" alt="" />
              </div>
              <div class="item">
                <b>
                  {{item.ProductName}}
                </b>
                <span class="active">
                  Active
                </span>
              </div>
              <div class="item">
                {{item.ProductCode}}
              </div>
              <div class="item">
                <b class="mt1">
                  {{item.Price | currency:'R'}}
                  <span *ngIf="item.Units">
                    / {{item.Units}}
                  </span>
                </b>
              </div>
              <div class="item" *ngIf="item.Category">
                {{item.Category.CategoryName}}
              </div>
              <div class="item" *ngIf="!item.Category">
                <span class="small-text">No Category</span>
              </div>
              <div class="item">
                <button mat-icon-button class="btn" aria-label="Example icon button with a vertical three dot icon"
                  (click)="addToCart(item)">
                  <mat-icon>add_shopping_cart</mat-icon> Add to cart
                </button>
              </div>
            </div>
          </div>

          <ng-template #notFound>
            <div class="not-found">
              <!-- <img [src]="notFoundModel.Image" alt="no items found"> -->
              <h1 class="message">
                No product found
                <span>
                  <a class="link-add" (click)="add()"> add new product.</a>
                </span>
              </h1>
            </div>
          </ng-template>
        </div>


      </mat-tab>
      <mat-tab label="Order Summary">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
