<div class="main">

  <div class="images" *ngIf="imgURL">
    <div class="cards">
      <span *ngFor="let image of imgURL">
        <div class="card">
          <div class="icon">
            <img [src]="image" alt="">
          </div>
        </div>
      </span>
      <span>
        <div class="card card-image">
          <div class="file-drop-area">
            <span class="fake-btn">
              <img src="assets/images/btn-upload.svg" alt="">
            </span>
            <input class="file-input" type="file" multiple>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
