.main {
  width: 100%;
  min-height: 20rem;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  .cards {
    display: flex;
    //grid-template-columns: repeat(4, 25%);

    @media only screen and (max-width: 600px) {
      width: 50rem;
    }

    @media only screen and (max-width: 768px) {
      width: 50rem;
    }


    span {
      margin: 0;
      padding: 0;
    }

    .card {
      margin: 1rem;
      text-align: center;
      cursor: pointer;
      transition: all 5s ease-out;

      @media only screen and (max-width: 600px) {
        margin: .6rem 1rem;
        width: 68%;
      }

      @media only screen and (min-width: 768px) {
        margin: 1rem;
      }



      &:hover {
        background: rgb(16, 76, 229);
        background: linear-gradient(117deg, rgba(16, 76, 229, 1) 0%, rgba(11, 63, 194, 1) 50%, rgba(10, 56, 171, 1) 100%);
      }

      .icon {
        img {
          height: 4rem;

          @media only screen and (max-width: 600px) {
            // width: 2rem;
          }
        }
      }
    }

    .card-image {
      background: #fff;
      &:hover {
        background: #fff;;
      }
    }

    .card:nth-child(1) {
      animation: moveInLeft .5s ease-in-out;
    }
  }

}


.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
  // border: 1px dashed #fff;
  // border-radius: 3px;
  transition: 0.2s;
  // border: 2px dotted #fff;
  text-align: center;

  img{
    width: 15rem;
  }
}

.fake-btn {
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
}
 .images {
   overflow-x: scroll;
 }

