
<div class="main">
  <app-banner [heading]="nav.heading" [subheading]="nav.subheading" [actionButton]="actionButton"></app-banner>
  <div class="form">
    <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="onSubmit(rForm.value)">
      <mat-tab-group class="tab-group">
        <mat-tab t-tab label="General">
          <div class="form-fields">
            <div class="input-group">
              <label>First name</label>
              <input matInput formControlName="FirstName">
              <mat-error *ngIf="!rForm.controls['FirstName'].valid && rForm.controls['FirstName'].touched">
                first name(s) is required</mat-error>
            </div>
            <div class="input-group">
              <label>Surname</label>
              <input matInput formControlName="LastName">
              <mat-error *ngIf="!rForm.controls['LastName'].valid && rForm.controls['LastName'].touched">
                surname is required</mat-error>
            </div>
            <div class="input-group">
              <label>Cellphone</label>
              <input matInput formControlName="Cellphone" type="number">
              <mat-error *ngIf="!rForm.controls['Cellphone'].valid && rForm.controls['Cellphone'].touched">
                Cellphone is required</mat-error>
            </div>
            <div class="input-group">
              <label>Email address</label>
              <input matInput formControlName="Email">
              <mat-error *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">
                Email is required</mat-error>
            </div>
          </div>
        </mat-tab>
        <mat-tab t-tab label="Address(s)">
          <div class="head-content col-1-of-2">
            <h1 class="subHeading">
              Address information
            </h1>
            <a *ngIf="actionButton" mat-flat-button color="primary" (click)="showModal=true">
              add address
            </a>
          </div>

          <div class="table address" *ngIf="userView.Address">
            <div class="header">
              <div class="item">Address Type</div>
              <div class="item">Address</div>
              <div class="item">City</div>
              <div class="item">Province</div>
              <div class="item">PostalCode</div>
            </div>
            <div class="table-content">
              <div class="row" *ngFor="let item of userView.Address" (click)="addressUpdate(item)">
                <div class="item">
                  <img src="assets/images/dashboard/placeholders/address.png" alt="address">
                </div>
                <div class="item">
                  <p><b>{{item?.AddressType}}</b></p>
                </div>
                <div class="item">
                  <p>{{item?.AddressLine1}}, {{item?.AddressLine2}} <br>{{item?.AddressLine3}} </p>
                </div>
                <div class="item">
                  <p>{{item?.City}}</p>
                </div>
                <div class="item">
                  <p>{{item?.Province}}</p>
                </div>
                <div class="item">
                  <p>{{item?.PostalCode}}</p>
                </div>
              </div>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
      <div class="actions">
        <button type="submit" [disabled]="!rForm.valid" class="btn cta">Update partner</button>
        <button type="button" class="btn secondary cta" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<!-- shows add modal -->
<div class="overlay" *ngIf="showModal && userView">
  <div class="overlay-modal">
    <app-add-address [userId]="userView.UserId" [userViewModel]="userView" (cancelModel)="showModal = $event" (AddressModel)="onCloseModal($event)"></app-add-address>
  </div>
</div>

<!-- shows edit modal -->
<div class="overlay" *ngIf="showUpdateModal && addressToUpdate">
  <div class="overlay-modal">
    <app-update-address [addressModel]="addressToUpdate" [userViewModel]="userView" (cancelModel)="showUpdateModal = $event" (AddressModel)="onCloseModal($event)"></app-update-address>
   </div>
</div>
