<!-- admin dashboard -->
<div class="main"
     *ngIf="user.RoleId === '3'">
  <div class="container">

    <br />
    <app-create-persona>
    </app-create-persona>
    <app-set-up-progress>
    </app-set-up-progress>
    <br />
    <div class="action-cards col-1-of-2">
      <app-action-card [class]="class"
                       [companyModel]="user.Company"></app-action-card>
    </div>
  </div>
</div>

<div class="main"
     *ngIf="user.RoleId === '6'">
  <app-driver-dashboard-home></app-driver-dashboard-home>
</div>
