@import '../../../../assets/styles/general/colors';


.dash {
  padding: 1em;
  border-radius: 0em 0em 1em 1em;
  background-color: white;
  box-shadow: 10px 0px 48px -9px rgba(113, 128, 147, 0.08);
}

.col-1-of-2 {
  grid-template-columns: 65% auto;
}

.header {
  font-weight: 600;
  font-size: 25px;
  padding: 0 1.2em;

  &.stats {
    padding: 0;
  }
}


.recent-order {
  padding: 0em 2em;

  .main-card {
    color: $black;

    .mat-card-subtitle {
      color: inherit;
    }

    h1 {
      font-size: 1.33em;
    }

    .col-1-of-2 {
      margin: 0;
      grid-template-columns: 35% auto;
    }

    .status {
      padding: 1em 0;
    }

    .badge-pending {
      background-color: #fbc53180;
      padding: 1em;
      border-radius: 50em;
      width: 50%;
      text-align: center;
      color: #FFA502;
    }
  }
}

.cta {
  color: $white;

  .info {
    background-color: $primary;
  }

  .success {
    background-color: $success;
  }

  .danger {
    background-color: $danger;
  }
}

.panel-table {
  &.col-1-of-2 {
    grid-template-columns: 30% auto;
    margin: 1em 0;
  }

  .main-card {
    border-radius: 10px;
    box-shadow: 10px 0px 48px -9px rgba(113, 128, 147, 0.08);

    .header {
      padding: 0;
    }

    h5 {
      font-weight: 500;
      text-transform: capitalize;
      color: $grey;
    }

    .col-1-of-3 {
      grid-template-columns: 15% 40% auto;
      border-width: 1px;
      border-bottom-style: dashed;
      border-color: $grey;

      &:last-child {
        border: none;
      }
    }

    .image {
      height: 38.11px;
      margin: 1em 0;
    }

    .stat {
      margin: 0;
      font-size: 5em;
    }

    .text {
      font-size: 20px;
      color: $grey;
      font-weight: 500;
    }
  }
}


@media only screen and (max-width: 600px) {
  .dash {
    padding: 1em;
  }

  .col-1-of-2 {
    grid-template-columns: 100%;
    margin-bottom: 0;
    grid-gap: 0;

  }

  .header {
    padding: 0;

  }

  .recent-order {
    padding: 0;
  }

  .panel-table {
    &.col-1-of-2 {
      grid-template-columns: 100%;
    }

    .orders {
      display: none;
    }

    .main-card {
      .col-1-of-3 {
        grid-template-columns: 15% 25% auto;

        .image {
          height: 19.55px;
          margin: 1em 0;
        }

        .stat {
          margin: 0;
          font-size: 5em;
        }

        .text {
          font-size: 20px;
          color: $grey;
          font-weight: 500;
        }
      }
    }


  }
}
