@import '../../../../assets/styles/general/colors';

.main {
  .container {
    .notification {
      background: green;
      padding: 1rem;
      color: $white;
      width: 80%;
      padding: 1rem 10rem;
      border-radius: 0.938rem;

      &.col-1-of-2 {
        grid-template-columns: 75% auto;
      }

      h1 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  .mat-flat-button.mat-primary {
    background-color: $yellow;
    padding: 0rem 2rem;
    font-size: 1em;
    font-weight: 700;
    border-radius: 25rem;
    height: 2.5rem;

    &.cta-btn {
      background-color: $black;
    }

    &.transparent {
      background: $default-white;
      font-weight: 700;
      color: $grey;
      border: solid 1px $grey;
    }

    &[disabled] {
      background-color: #DCDDE1;
      color: #B2BEC3;
    }
  }

}
