<mat-toolbar class="menu-items">
  <ul>
    <li><a routerLink="/dashboard"><img src="assets/images/dashboard/dashboard-img.svg" alt="dashboard icon">&nbsp;
        Dashboard</a></li>
    <li><a routerLink="/dashboard/create-orders"><img src="assets/images/dashboard/trolly.svg" alt="trolly icon">&nbsp;
        Create Order</a></li>
    <li><a routerLink="/dashboard/orders"><img src="assets/images/dashboard/trolly.svg" alt="trolly icon">&nbsp;
        List Orders</a></li>
    <li><a routerLink="/dashboard/settings"><img src="assets/images/dashboard/cog.svg" alt="cog icon">&nbsp;
        Settings</a></li>
  </ul>
</mat-toolbar>
