@import '../../../assets/styles/general/colors';



.home-is-mobile .home-toolbar {}

h1.home-app-name {
  margin-left: 8px;
}

.home-sidenav-container {

  flex: 1;
  // background: $black;

}

.home-is-mobile .home-sidenav-container {

  flex: 1 0 auto;
}

.mobile {
  display: none;
}

.mat-drawer.mat-sidenav {
  background: $white;
  width: 100%;

  a {

    font-weight: 200;
    font-size: 25px;
    color: $black;

    .img {
      display: block;
    }
  }
}

.mat-icon-button .mat-icon {
  color: $black;
}

.header-icon {
  height: 2rem;
  float: right;
  margin-left: 0;
}

// ipad pro
@media only screen and (max-width: 1024px) {
  .home-sidenav-container {
    margin-top: 0;

    .col-1-of-3 {
      grid-template-columns: repeat(3, 33.33%);
      padding: 5rem 2rem;
    }

    a {
      h1 {
        margin: 0;
        font-size: 16px;
      }
    }

    .account {
      border-top: solid 1px $grey;
      margin: 5rem 1rem;

      a {
        margin: 1rem;

        &.cta {
          color: $white;

        }
      }

      .mat-flat-button.mat-primary {
        background-color: $yellow;
        padding: 0.5rem 2rem;
        font-size: 1em;
        font-weight: 700;
         border-radius: 0.313rem;

        &.transparent {
          background: $default-white;
          font-weight: 700;
          color: $grey;
          border: solid 1px $grey;
        }

        &[disabled] {
          background-color: #DCDDE1;
          color: #B2BEC3;
        }
      }

    }
  }

  .home-container {
    padding: 0 1rem;
    background: $white;
    margin: 5rem auto;
  }

  .mobile {
    display: block;
    background: $yellow !important;
  }
}

// ipad

@media only screen and (max-width: 768) {}



@media only screen and (max-width: 600px) {
  .home-sidenav-container {
    margin-top: 0;

    .col-1-of-3 {
      grid-template-columns: repeat(3, 33.33%);
      padding: 2rem;
    }

    a {
      h1 {
        margin: 0;
        font-size: 16px;
      }
    }

    .account {
      margin: 10rem 1rem;

      .login {
        padding: 1rem;
      }

      a {
        margin: 1rem;

        &.cta {
          color: $white;

        }

      }

      .mat-flat-button.mat-primary {
        background-color: $yellow;
        padding: 0rem 2rem;
        font-size: 1rem;
        font-weight: 700;
         border-radius: 0.313rem;
        height: 2.5rem;

        &.transparent {
          background: $default-white;
          font-weight: 700;
          color: $grey;
          border: solid 1px $grey;
        }

        &[disabled] {
          background-color: #DCDDE1;
          color: #B2BEC3;
        }
      }

    }

    .mat-drawer.mat-sidenav {
      background: $white;
      width: 100%;
      padding: 2rem 0;

      a {

        font-weight: 600;
        font-size: 1rem;

        .img {
          display: block;
        }
      }

    }


  }

  .home-container {
    padding: 1rem;
    background: $white;
    margin: 2rem auto;
  }

  .mobile {
    display: block;
    padding: 1rem 0;

    a {
      .count {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: $default-white;
        border-radius: 2rem;
        height: 1.7rem;
        width: 1.563rem;
        font-size: 0.77rem;
        font-weight: 800;
        text-align: center;
        z-index: 10;
        color: $black;
      }

      img {
        margin-right: 1rem;
        height: 1.4rem;
        height: 57px;

        &.total {
          position: absolute;
          right: 1rem;
          top: 1rem;
          width: 24.6px;
        }
      }
    }
  }

  .mat-drawer-inner-container {
    background-color: green;
  }
}
