<app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>


<div class="contianer" *ngIf="order$ | async as order" class="container-table">
  <div class="main">
    <div class="left">
      <div class="matrix">
        <div class="basic-info table-3">
          <mat-card class="card">
            <span class="table-card col-1-of-1">



              <div class="data">
                <h1 class="text">
                  {{order.OrderNumber}}
                  <span class="span">
                    order #
                  </span>
                </h1>
              </div>


            </span>
          </mat-card>
          <mat-card class="card">
            <span class="table-card col-1-of-1">



              <div class="data">
                <h1 class="text">
                  {{order.ProjectCode}}
                  <span class="span">
                    Project name/number
                  </span>
                </h1>
              </div>


            </span>
          </mat-card>
          <mat-card class="card">
            <span class="table-card col-1-of-1">



              <div class="data">
                <h1 class="text">
                  {{order.category?.CategoryName}}
                  <span class="span">
                    order category
                  </span>
                </h1>
              </div>


            </span>
          </mat-card>
        </div>
        <h1 class="separator">Metrics</h1>
        <span >
          <div class="table-3">
            <mat-card class="card" *ngFor="let item of order.measurements">
              <span class="table-card col-1-of-1">



                <div class="data">
                  <h1 class="text">
                    {{item.Value}}
                    <span class="span">
                      {{item.MeasurementId | measurename : measurements }}
                      <!-- Compressive strength -->
                    </span>
                  </h1>
                </div>


              </span>
            </mat-card>
          </div>

        </span>
      </div>
    </div>
    <div class="rigth">
      <h1 class="separator m-t">Special information</h1>

      <div class="basic-info table-1">
        <mat-card class="card">
          <span class="table-card col-1-of-1">



            <div class="data">
              <h1 class="text">
                {{order.supplier?.SupplierName}}
                <span class="span">
                  Supplier
                </span>
              </h1>
            </div>


          </span>
        </mat-card>
        <mat-card class="card">
          <span class="table-card col-1-of-1">



            <div class="data">
              <h1 class="text">
                {{order.Directions}}
                <span class="span">
                  how to get there
                </span>
              </h1>
            </div>


          </span>
        </mat-card>
        <mat-card class="card">
          <span class="table-card col-1-of-1">



            <div class="data">
              <h1 class="text">
                {{order.SpecialInstructions}}
                <span class="span">
                  special instructions
                </span>
              </h1>
            </div>


          </span>
        </mat-card>
      </div>
    </div>
    <div></div>
    <div class="actions">
      <h1 class="separator"></h1>
      <button mat-button class="primary" (click)="action()">Looks good, save</button>
      <button mat-button (click)="edit()" class="simple">Edit</button>
    </div>
  </div>

</div>
