<div class="container">
  <app-home-heading [heading]="heading"></app-home-heading>
  <div class="account col-1-of-2">
    <form class="form"
          [formGroup]="rForm">
      <div class="col-1-of-1">
        <mat-form-field appearance="outline">
          <input matInput
                 placeholder="Email"
                 formControlName="Email"
                 MatFormFieldControl
                 type="email"
                 required>
          <mat-error *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">a valid email address is
            required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput
                 placeholder="Password"
                 formControlName="Password"
                 MatFormFieldControl
                 [type]="hidePassword ? 'password' : 'text'"
                 required>
          <button mat-icon-button
                  matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="!rForm.controls['Password'].valid && rForm.controls['Password'].touched">your password is
            required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-1-of-1">
        <button mat-flat-button
                color="primary"
                (click)="onSubmit(rForm.value)"
                [disabled]="!rForm.valid">
          Log in
        </button>
        <button mat-flat-button
                color="primary"
                class="transparent"
                (click)="forgotPassword()">forgot password?</button>
      </div>
    </form>
    <img src="assets/images/home/sign-in-image.svg"
         alt="sign in image">
  </div>
</div>
