   <div class="table" *ngIf="selectedList?.length > 0; else notFound">
     <div class="header">
       <div class="item">FullName</div>
       <div class="item">Contact number</div>
       <div class="item">Email</div>
       <div class="item">Joining Date</div>
       <div class="item"></div>
     </div>
     <div class="table-content">
       <div class="row" *ngFor="let item of selectedList" (click)="onUpdateClick(item)">
         <div class="item">
           <div class="image">
             <!-- <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" /> -->
             <img src="assets/images/dashboard/placeholders/employee.png" *ngIf="!item.Images" alt="place holder" />
           </div>
         </div>
         <div class="item">
           <p>
             <b>{{item.FirstName}} {{item.LastName}}</b>
           </p>
           <span class="badge">
             {{item?.Roles?.RoleName}}
           </span>
         </div>
         <div class="item">
           <p>
             {{item.Cellphone}}
           </p>
         </div>
         <div class="item">
           <p>
             {{item.Email}}
           </p>
         </div>
         <div class="item">
           <p>
             {{item.CreateDate | date:'fullDate'}}
           </p>
         </div>
         <div class="item">
         </div>

       </div>
     </div>
   </div>

   <ng-template #notFound>
     <app-placeholder [placeHolder]="placeHolder"></app-placeholder>
   </ng-template>
