<div *ngIf="orders?.length > 0 else noOrder;">
  <span class="header col-1-of-8">
    <h1 class="title">
      Order #
    </h1>
    <h1 class="title">
      Project code
    </h1>
    <h1 class="title">
      Category
    </h1>
    <h1 class="title">
      Delivery date
    </h1>
    <h1 class="title">
      Client
    </h1>

    <h1 class="title">
      actions
    </h1>

  </span>
  <mat-card *ngFor="let item of orders">
    <span class="table-card col-1-of-8">
      <div class="data">
        <h1 class="text">
          {{item.OrderNumber}}
          <mat-chip-list class="chips">
            <mat-chip class="chip pending" *ngIf="item.StatusId == '1'">Pending</mat-chip>
            <mat-chip class="chip info" *ngIf="item.StatusId == '2'">Accepted at supplier</mat-chip>
            <mat-chip class="chip info" *ngIf="item.StatusId == '3'">In progress</mat-chip>
            <mat-chip class="chip info" *ngIf="item.StatusId == '4'">On delivery</mat-chip>
            <mat-chip class="chip success" *ngIf="item.StatusId == '5'">Completed Order</mat-chip>
            <mat-chip class="chip cancelled" *ngIf="item.StatusId == '6'">Cancelled</mat-chip>
            <mat-chip class="chip cancelled" *ngIf="item.StatusId == '7'">Cancelled by customer</mat-chip>
            <mat-chip class="chip cancelled" *ngIf="item.StatusId == '8'">Cancelled by supplier</mat-chip>
          </mat-chip-list>
        </h1>
      </div>
      <div class="data">
        <h1 class="text">
          {{item.ProjectCode}}
          <span class="span">
           </span>
        </h1>
      </div>
      <div class="data">
        <h1 class="text">
          {{item.category?.CategoryName}}
          <span class="span">
           </span>
        </h1>
      </div>
      <div class="data">
        <h1 class="text">
          {{item.DeliveryDate }}
          <span class="span">
           </span>
        </h1>
      </div>
      <div class="data">
        <h1 class="text">
          {{item.supplier?.SupplierName}}
          <span class="span">
           </span>
        </h1>
      </div>
      <div class="data">
        <mat-card-actions class="cta">
          <button mat-button class="info" *ngIf="item.StatusId === '1'" (click)="updateOrderStatus(item,2)">Accept order.</button>
          <button mat-button class="info" *ngIf="item.StatusId === '2'" (click)="updateOrderStatus(item,3)">On its way.</button>
          <button mat-button class="info" *ngIf="item.StatusId === '3'"(click)="updateOrderStatus(item,4)">On Delivery.</button>
          <button mat-button class="success" *ngIf="item.StatusId === '4'" (click)="updateOrderStatus(item,5)">Accepted by customer.</button>
          <button mat-button class="success" *ngIf="item.StatusId === '5'">Order Complete.</button>
          <button mat-button class="danger">Cancel order.</button>
        </mat-card-actions>
        <a class="anchor" (click)="viewOrder(item)">view order</a>
      </div>
    </span>
  </mat-card>
</div>
<ng-template #noOrder>
  <app-placeholder [placeHolder]="placeHolder"></app-placeholder>
</ng-template>
