<mat-card *ngFor="let item of orders">
  <span class="table-card col-1-of-8">
    <div class="data">
      <h1 class="text">
        {{item.OrderNumber}}
        <mat-chip-list class="chips">
          <mat-chip class="chip pending" *ngIf="item.StatusId == '1'">Pending</mat-chip>
          <mat-chip class="chip acceptedBySupplier" *ngIf="item.StatusId == '2'">Accepted at supplier</mat-chip>
          <mat-chip class="chip inProgress" *ngIf="item.StatusId == '3'">In progress</mat-chip>
          <mat-chip class="chip onDelivery" *ngIf="item.StatusId == '4'">On delivery</mat-chip>
          <mat-chip class="chip confirmedCustomer" *ngIf="item.StatusId == '5'">Confirmed by customer</mat-chip>
          <mat-chip class="chip complete" *ngIf="item.StatusId == '6'">Complete</mat-chip>
          <mat-chip class="chip cancelled" *ngIf="item.StatusId == '6'">Cancelled</mat-chip>
        </mat-chip-list>
      </h1>
    </div>
    <div class="data">
      <h1 class="text">
        {{item.ProjectCode}}
        <span class="span">
          <!-- {{item.StatusId}} -->
        </span>
      </h1>
    </div>
    <div class="data">
      <h1 class="text">
        {{item.category?.CategoryName}}
        <span class="span">
          <!-- {{item.StatusId}} -->
        </span>
      </h1>
    </div>
    <div class="data">
      <h1 class="text">
        {{item.DeliveryDate | date:'mediumDate'}}
        <span class="span">
          <!-- {{item.StatusId}} -->
        </span>
      </h1>
    </div>
    <div class="data">
      <h1 class="text">
        {{item.supplier?.SupplierName}}
        <span class="span">
          <!-- {{item.StatusId}} -->
        </span>
      </h1>
    </div>
    <div class="data">
      <button class="buttons sucees" mat-button (click)="view(item)">
        <mat-icon matDatepickerToggleIcon   matTooltip="View order full details">remove_red_eye</mat-icon>
      </button>
      <button class="buttons primary" [disabled] ="item.StatusId != '1'" matTooltip="Edit this order."  mat-button>
        <mat-icon matDatepickerToggleIcon>edit</mat-icon>
      </button>
      <button class="buttons danger" [disabled] ="item.StatusId != '1'" matTooltip="Cancel this order." mat-button>
        <mat-icon matDatepickerToggleIcon>cancel</mat-icon>
      </button>
    </div>
  </span>
</mat-card>
