@import '.../../../../../../../../assets/styles/general/colors';


  .mat-card {
    margin-bottom: 0.5em;
  }

  .table-card {

    h1 {
      font-size: 20px;
    }

    .header {
      &.col-1-of-2 {
        grid-template-columns: 12% auto;
      }
    }

    .date {
      display: block;
      margin: 0.5em 0;
      font-weight: 600;
      font-size: .9em;
      color: $grey;
    }

    .data {
      .text {
        font-weight: 400;
        font-size: 18px;
      }

      .span {
        display: block;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        margin: 1em 0;
        color: $grey;
      }

    }
  }



.col-1-of-8 {
  display: grid;
  grid-template-columns: repeat(8, 16%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }

}


.chips {
  .chip {
    font-weight: 800;
    font-size: .6rem;
    border-radius: 5px;
    padding: 0 12px;
  }

  .pending {
    color: $orange;
    background: $light_yellow;
  }

  .cancelled {
    color: $danger;
    background: $light_danger;
  }
}



.buttons {
  padding: .2rem;
  line-height: 20px;
  color: #fff;
  margin: .2rem;
  min-width: 1rem;
  margin-top: .5rem;

  &:disabled{
    background: $grey_light;
    color: $grey;
  }
}

button.sucees {
  background: $success;
}

button.primary {
  background: $primary;
}
button.danger {
  background: $danger;
}
