<div class="main order">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
  <div class="contianer" *ngIf="order$  | async as order" class="container-table">
    <!-- <pre>
      {{order | json}}
    </pre> -->
    <div class="order-details">
      <h1 class="heading">ORD-{{order.OrderNo}}
        <span class="span">
          New Order
        </span>
      </h1>
      <div class="items">
        <mat-tab-group class="tab-group">
          <mat-tab t-tab label="General info">
            <div class="item">
              <h1>
                Customer
              </h1>
              <h1 class="value">
                {{order.Customer?.FirstName}}
                {{order.Customer?.LastName}}
              </h1>
            </div>

            <div class="item">
              <h1>
                Delivery Address

              </h1>
              <h1 class="value">
                {{order.Address?.AddressLine1}} <br>
                {{order.Address?.AddressLine2}}<br>
                {{order.Address?.AddressLine3}}<br>
                {{order.Address?.Province}}<br>
                {{order.Address?.City}}<br>
                {{order.Address?.PostalCode}}
              </h1>
            </div>
          </mat-tab>
          <mat-tab t-tab label="Special Instructions"  *ngIf="order.SpecialInstructions">


            <!-- <div class="item">
              <h1>
                Supplier

              </h1>
              <h1 class="value">
                {{order.Supplier?.FirstName}}
                {{order.Supplier?.LastName}}
              </h1>
            </div> -->


            <div class="item" *ngIf="order.SpecialInstructions">
              <h1>
                special instructions
              </h1>
              <h1 class="value">
                {{order.SpecialInstructions}}
              </h1>
            </div>
          </mat-tab>
        </mat-tab-group>



      </div>

      <span>
        <h1 class="heading">Products</h1>
      </span>
      <div>
        <div class="products" *ngIf="order.Orderroducts">
          <div class="table">
            <div class="header">
              <div class="item">Product Name</div>
              <div class="item"> Price</div>
              <div class="item"> Qty</div>
              <div class="item"> Total</div>
            </div>
            <div class="table-content">
              <div class="row" *ngFor="let item of order.Orderroducts">
                <div class="item">
                  <div class="image">
                    <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
                    <img src="assets/images/product-placeholder.svg" *ngIf="!item.Images" alt="" />
                  </div>
                </div>
                <div class="item">
                  <p>
                    <b>
                      {{item.ProductName}}
                    </b>
                    <span class="number" *ngIf="item.ProductCode">
                      Code:<b> {{item.ProductCode}} </b>
                    </span>
                  </p>
                </div>

                <div class="item">
                  <b class="mt1">
                    {{item.Price | currency:'R'}}
                    <span *ngIf="item.Units">
                      / {{item.Units}}
                    </span>
                  </b>
                </div>
                <div class="item">
                  {{item.Quantity}}
                </div>
                <div class="item">
                  {{item.Price*item.Quantity | currency:'R'}}
                </div>
              </div>
            </div>

          </div>


          <div class="table-mobile">
            <div class="row" *ngFor="let item of order.Orderroducts">
              <div class="item">
                <div class="image">
                  <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
                  <img src="assets/images/product-placeholder.svg" *ngIf="!item.Images" alt="" />
                </div>
              </div>
              <div class="item">
                <p>
                  <b>
                    {{item.ProductName}}
                  </b>

                  <span class="price" *ngIf="item.Units">
                    {{item.Quantity}} * {{item.Price | currency:'R'}} / {{item.Units}}
                  </span>
                </p>
              </div>

              <div class="item">
                <b>
                  {{item.Price*item.Quantity | currency:'R'}}
                </b>
              </div>
            </div>
          </div>
      

          <ng-template #notFound>
            <app-placeholder [placeHolder]="placeHolder"></app-placeholder>
          </ng-template>
        </div>

      </div>
      <div class="actions" *ngIf="currentUser.RoleId !=='3'">
        <h1 class="separator"></h1>
        <button mat-button class="primary" (click)="action()">Looks good, save</button>
        <button mat-button (click)="edit()" class="simple">Edit</button>
      </div>
      <div class="actions" *ngIf="currentUser.RoleId ==='3'">
        <h1 class="separator"></h1>
        <mat-card-actions class="cta">
          <button mat-button class="info" *ngIf="order.StatusId === 1" (click)="updateOrderStatus(order,2)">Accept
            order.</button>
          <button mat-button class="info" *ngIf="order.StatusId === 2" (click)="updateOrderStatus(order,3)">On its
            way.</button>
          <button mat-button class="info" *ngIf="order.StatusId === 3" (click)="updateOrderStatus(order,4)">On
            Delivery.</button>
          <button mat-button class="success" *ngIf="order.StatusId === 4" (click)="updateOrderStatus(order,5)">Accepted
            by
            customer.</button>
          <button mat-button class="success" *ngIf="order.StatusId === 5">Order Complete.</button>
          <!-- <button mat-button class="info">Print Order</button> -->
        </mat-card-actions>
      </div>
      <h3 class="total">
        Total: {{order.Total | currency:'R'}}
      </h3>
    </div>

  </div>

</div>
