<div class="main">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
  <div class="contianer" *ngIf="order" class="container-table">
    <div class="main-content">
      <div class="left">
        <div class="matrix col-1-of-2">
          <span>
            <h1 class="separator">Order information</h1>
            <div class="basic-info table-1">
              <mat-card class="card">
                <span class="table-card col-1-of-1">
                  <div class="data">
                    <h1 class="text">
                      {{order.OrderNumber}}
                      <span class="span">
                        order #
                      </span>
                    </h1>
                  </div>
                </span>
              </mat-card>
              <mat-card class="card">
                <span class="table-card col-1-of-1">
                  <div class="data">
                    <h1 class="text">
                      {{order.ProjectCode}}
                      <span class="span">
                        Project name/number
                      </span>
                    </h1>
                  </div>
                </span>
              </mat-card>
              <mat-card class="card">
                <span class="table-card col-1-of-1">
                  <div class="data">
                    <h1 class="text">
                      {{order.category?.CategoryName}}
                      <span class="span">
                        order category
                      </span>
                    </h1>
                  </div>
                </span>
              </mat-card>
            </div>
          </span>


          <div class="">
            <h1 class="separator">Special information</h1>
            <div class="basic-info table-1">
              <mat-card class="card">
                <span class="table-card col-1-of-1">
                  <div class="data">
                    <h1 class="text">
                      {{order.supplier?.SupplierName}}
                      <span class="span">
                        Supplier
                      </span>
                    </h1>
                  </div>
                </span>
              </mat-card>
              <mat-card class="card">
                <span class="table-card col-1-of-1">



                  <div class="data">
                    <h1 class="text">
                      {{order.Directions}}
                      <span class="span">
                        how to get there
                      </span>
                    </h1>
                  </div>


                </span>
              </mat-card>
              <mat-card class="card">
                <span class="table-card col-1-of-1">



                  <div class="data">
                    <h1 class="text">
                      {{order.SpecialInstructions}}
                      <span class="span">
                        special instructions
                      </span>
                    </h1>
                  </div>


                </span>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <span>
        <h1 class="separator">Metrics</h1>
        <span *ngIf="order.measurements.length > 0 && measurements.length > 0">
          <div class="measurements table-3">
            <mat-card class="card" *ngFor="let item of order.measurements">
              <span class="table-card col-1-of-1">
                <div class="data">
                  <h1 class="text">
                    {{item?.Value}}
                    <span class="span">
                      {{item?.MeasurementId | measurename : measurements }}
                    </span>
                  </h1>
                </div>
              </span>
            </mat-card>
          </div>
        </span>
      </span>
      <div></div>
      <div class="actions" *ngIf="currentUser.RoleId !=='3'">
        <h1 class="separator"></h1>
        <button mat-button class="primary" (click)="action()">Looks good, save</button>
        <button mat-button (click)="edit()" class="simple">Edit</button>
      </div>
      <div class="actions" *ngIf="currentUser.RoleId ==='3'">
        <h1 class="separator"></h1>
        <mat-card-actions class="cta">
          <button mat-button class="info" *ngIf="order.StatusId === 1" (click)="updateOrderStatus(order,2)">Accept
            order.</button>
          <button mat-button class="info" *ngIf="order.StatusId === 2" (click)="updateOrderStatus(order,3)">On its
            way.</button>
          <button mat-button class="info" *ngIf="order.StatusId === 3" (click)="updateOrderStatus(order,4)">On
            Delivery.</button>
          <button mat-button class="success" *ngIf="order.StatusId === 4" (click)="updateOrderStatus(order,5)">Accepted
            by
            customer.</button>
          <button mat-button class="success" *ngIf="order.StatusId === 5">Order Complete.</button>
          <button mat-button class="danger">Cancel order.</button>
        </mat-card-actions>
      </div>
    </div>

  </div>

</div>
