<div class="main order">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
  <div class="contianer" *ngIf="order$  | async as order" class="container-table">
    <!-- <pre>
      {{order | json}}
    </pre> -->
    <div class="order-details">
      <h1 class="heading">ORD-{{order.OrderNo}}
        <span class="span">
          New Order
        </span>
      </h1>
      <div>
        <mat-tab-group class="tab-group">
          <mat-tab t-tab label="General info">
            <div class="items">
              <div class="item" *ngIf="order.Customer">
                <h1>
                  Customer
                </h1>
                <h1 class="value">
                  {{order.Customer?.FirstName}}
                  {{order.Customer?.LastName}}
                </h1>
              </div>
              <div class="item" *ngIf="order.Supplier">
                <h1>
                  Supplier
                </h1>
                <h1 class="value">
                  {{order.Supplier?.CompanyName}}
                </h1>
              </div>

              <div class="item" *ngIf="order.Address">
                <h1>
                  Delivery Address
                </h1>
                <h1 class="value">
                  {{order.Address?.AddressLine1}} <br>
                  {{order.Address?.AddressLine2}}<br>
                  {{order.Address?.AddressLine3}}<br>
                  {{order.Address?.Province}}<br>
                  {{order.Address?.City}}<br>
                  {{order.Address?.PostalCode}}
                </h1>
              </div>

            </div>
          </mat-tab>
          <mat-tab t-tab label="Special Instructions" *ngIf="order.SpecialInstructions">

            <div class="item" *ngIf="order.SpecialInstructions">
              <h1>
                special instructions
              </h1>
              <h1 class="value">
                {{order.SpecialInstructions}}
              </h1>
            </div>
          </mat-tab>
          <mat-tab t-tab label="Delivery information" *ngIf="true">
            <button *ngIf="actionButton" mat-flat-button color="primary" (click)="showModal=!showModal">
              + delivery
            </button>
            <app-list-deliveries
            [deliveries]="deliveries"
            [currentUser]="currentUser"
            [placeHolder]="placeHolder">
            </app-list-deliveries>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div>
        <div class="products" *ngIf="order.Orderroducts">
          <span>
            <h1 class="heading">Products</h1>
          </span>
          <div class="table">
            <div class="header">
              <div class="item">Product Name</div>
              <div class="item"> Price</div>
              <div class="item"> Qty</div>
              <div class="item"> Total</div>
            </div>
            <div class="table-content">
              <div class="row" *ngFor="let item of order.Orderroducts">
                <div class="item">
                  <div class="image">
                    <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
                    <img src="assets/images/product-placeholder.svg" *ngIf="!item.Images" alt="" />
                  </div>
                </div>
                <div class="item">
                  <p>
                    {{item.ProductName}}
                    <span class="number" *ngIf="item.ProductCode">
                      Code:<b> {{item.ProductCode}} </b>
                    </span>
                  </p>
                </div>

                <div class="item">
                  <span class="mt1">
                    {{item.Price | currency:'R'}}
                    <span *ngIf="item.Units">
                      / {{item.Units}}
                    </span>
                  </span>
                </div>
                <div class="item">
                  {{item.Quantity}}
                </div>
                <div class="item">
                  {{item.Price*item.Quantity | currency:'R'}}
                </div>
              </div>
            </div>

          </div>


          <div class="table-mobile">
            <div class="row" *ngFor="let item of order.Orderroducts">
              <div class="item">
                <div class="image">
                  <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
                  <img src="assets/images/product-placeholder.svg" *ngIf="!item.Images" alt="" />
                </div>
              </div>
              <div class="item">
                <p>
                  <b>
                    {{item.ProductName}}
                  </b>

                  <span class="price" *ngIf="item.Units">
                    {{item.Quantity}} * {{item.Price | currency:'R'}} / {{item.Units}}
                  </span>
                </p>
              </div>

              <div class="item">
                <b>
                  {{item.Price*item.Quantity | currency:'R'}}
                </b>
              </div>
            </div>
          </div>


          <!-- <ng-template #notFound>
            <app-placeholder [placeHolder]="placeHolder"></app-placeholder>
          </ng-template> -->
        </div>

      </div>

      <h3 class="total">
        Total: {{order.Total | currency:'R'}}
      </h3>
    </div>

  </div>

</div>

<div class="overlay" *ngIf="showModal">
  <div class="overlay-modal">
  </div>
</div>
