<div class="home-container">
  <div class="container">

    <div class="wrap">
      <div class="search">
        <button type="submit" class="searchButton">
          <img src="assets/images/home/search.svg" alt="search_icon" class="search">
        </button>
        <input type="text" class="searchTerm" placeholder="What are you looking for?">
      </div>
    </div>

    <div class="top-selling">
      <img src="assets/images/home/top-selling.svg" alt="">
    </div>

    <div class="hero">
      <div class="col-1-of-2">
        <h1 class="big-text">
          Get all your building material online & delivered to you on site <span class="fs">.</span>
        </h1>
      </div>
    </div>

    <div class="choose col-1-of-2">
      <mat-card class="buyer">
        <img src="assets/images/home/bricks.svg" alt="builder-img">
        <div class="card-context">
          <h1>Register as a Buyer
            <span class="description">
              View products & place orders online.
            </span>
          </h1>
          <a routerLink="/register" mat-flat-button color="primary" class="cta-btn">Start Now</a>
        </div>
      </mat-card>
      <mat-card>
        <img src="assets/images/home/supplies.svg" alt="supplier-img">
        <div class="card-context">
          <h1>Register as a supplier
            <span class="description">
              Create orders and generate invoice everywhere. </span>
          </h1>
          <a routerLink="/register" mat-flat-button color="primary" class="cta-btn">Start Now</a>
        </div>
      </mat-card>
    </div>

    <div class="quick-links col-1-of-2">
      <div class="hero">
        <h1 class="big-text">
          Top selling products<span class="fs">.</span>
        </h1>
      </div>
      <div class="links col-1-of-2">
        <a routerLink="">
          <mat-card class="dark">
            <img src="assets/images/home/home-white.svg" alt="home-img">
          </mat-card>
        </a>
        <a routerLink="">
          <mat-card class="yellow">
            <img src="assets/images/home/shop.svg" alt="shop-img">
          </mat-card>
        </a>
        <a routerLink="">
          <mat-card class="dark">
            <img src="assets/images/home/discount.svg" alt="discount-img">
          </mat-card>
        </a>
        <a routerLink="">
          <mat-card class="light">
            <img src="assets/images/home/question.svg" alt="question-img">
          </mat-card>
        </a>
      </div>
    </div>

    <div class="top-products col-1-of-2">
      <div class="products col-1-of-2">
        <mat-card>
          <div class="cart">
            <img src="assets/images/home/market.svg" alt="shopping cart">
          </div>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
          <div class="details col-1-of-2">
            <h1>
              Sand
              <span class="span">
                by: Supplier A
              </span>
            </h1>
            <h1>
              R50000.00<span class="metric">/day</span>
            </h1>
          </div>
        </mat-card>
        <mat-card>
          <div class="cart">
            <img src="assets/images/home/market.svg" alt="shopping cart">
          </div>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
          <div class="details col-1-of-2">
            <h1>
              Sand
              <span class="span">
                by: Supplier A
              </span>
            </h1>
            <h1>
              R50000.00<span class="metric">/day</span>
            </h1>
          </div>
        </mat-card>
        <mat-card>
          <div class="cart">
            <img src="assets/images/home/market.svg" alt="shopping cart">
          </div>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
          <div class="details col-1-of-2">
            <h1>
              Sand
              <span class="span">
                by: Supplier A
              </span>
            </h1>
            <h1>
              R50000.00<span class="metric">/day</span>
            </h1>
          </div>
        </mat-card>
        <mat-card>
          <div class="cart">
            <img src="assets/images/home/market.svg" alt="shopping cart">
          </div>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
          <div class="details col-1-of-2">
            <h1>
              Sand
              <span class="span">
                by: Supplier A
              </span>
            </h1>
            <h1>
              R50000.00<span class="metric">/day</span>
            </h1>
          </div>
        </mat-card>
      </div>
      <div class="top-product">
        <mat-card>
          <div class="cart">
            <img src="assets/images/home/market.svg" alt="shopping cart">
          </div>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
          <div class="details col-1-of-2">
            <h1>
              Sand
              <span class="span">
                by: Supplier A
              </span>
            </h1>
            <h1>
              R50000.00<span class="metric">/day</span>
            </h1>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="suppliers">
      <div class="hero">
        <h1 class="big-text">
          Registered suppliers<span class="fs">.</span>
        </h1>
      </div>
      <div class="supplier-list">
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
        <mat-card>
          <h1 class="name">Supplier A</h1>
          <img matCardImage src="assets/images/home/p-1.png" alt="question-img">
        </mat-card>
      </div>

    </div>
    <div class="contact-us">
      <div class="hero">
        <h1 class="big-text">
          Want more info contact us<span class="fs">.</span>
        </h1>
      </div>
    </div>

  </div>
</div>
