<div class="container">
  <app-home-heading [heading]="heading"></app-home-heading>
  <app-search-toolbar></app-search-toolbar>
  <app-pills [pillList]="pillList"
             (selectedPillEmitter)="onSelected($event)"></app-pills>
  <div class="card-list"
       *ngIf="List">
    <mat-card class="product"
              *ngFor="let item of List">
      <img [src]="item.Image"
           class="stock imag"
           alt="stock-image">
      <button class=""
              (click)="selectedProduct(item)">Learn more</button>
    </mat-card>
  </div>
  <div class="info">
    <h1 class="h2">
      advantages of using our app.
    </h1>
    <div class="col-1-of-3"
         *ngIf="advantages">
      <app-info-card *ngFor="let item of advantages"
                     [model]="item"></app-info-card>
    </div>
  </div>
  <div class="contact-us">
    <div class="hero">
      <h1 class="h2">
        Want more info contact us<span class="fs">.</span>
      </h1>
    </div>
    <form class="form"
          [formGroup]="rForm">
      <div class="col-1-of-2">
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input matInput
                 placeholder="Enter Name"
                 formControlName="FirstName"
                 MatFormFieldControl
                 type="text"
                 required>
          <mat-error *ngIf="!rForm.controls['FirstName'].valid && rForm.controls['FirstName'].touched">a name is
            required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput
                 placeholder="Enter Surname"
                 formControlName="Surname"
                 MatFormFieldControl
                 type="text"
                 required>
          <mat-error *ngIf="!rForm.controls['Surname'].valid && rForm.controls['Surname'].touched">a name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-1-of-2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput
                 placeholder="Enter Email"
                 formControlName="Email"
                 MatFormFieldControl
                 type="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput
                 placeholder="Enter Phone Number (+27)"
                 formControlName="PhoneNumber"
                 MatFormFieldControl
                 type="text"
                 required>
          <mat-error *ngIf="!rForm.controls['PhoneNumber'].valid && rForm.controls['PhoneNumber'].touched">a Phone
            number is
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-1-of-1">
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput
                    MatFormFieldControl
                    placeholder="Enter message"
                    formControlName="Message"
                    required></textarea>
          <mat-error *ngIf="!rForm.controls['Message'].valid && rForm.controls['Message'].touched">a message is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-1-of-2">
        <button mat-flat-button
                color="primary"
                (click)="onSubmit(rForm.value)"
                [disabled]="!rForm.valid">
          Submit
        </button>
        <button mat-flat-button
                color="primary"
                class="transparent"
                (click)="clearForm()">clear</button>
      </div>
      <div class="error"
           *ngIf="errors">
        <h1>{{errors}}</h1>
      </div>
    </form>
  </div>
</div>
