@import '../../../../assets/styles/general/colors';

.top-selling {
  position: absolute;
  right: 4rem;
  top: 15rem;

  img {
    height: 100%;
  }

  .mat-card {
    border-radius: 0.938rem;
    padding: 0 1rem;
    width: 30rem;
    background: $black;
    color: $white;

    .mat-card-header {
      padding: 1rem 0;

      .mat-card-title {
        font-weight: 800;
        font-size: 2.188rem;
        width: 70%;
      }

      .mat-card-subtitle {
        color: $white;
      }
    }

    .mat-card-content {
      padding: 0 1rem;

      .col-1-of-2 {
        grid-template-columns: 60% auto;
      }

      .price {
        font-weight: 900;
        font-size: 2.813rem;

        .span {
          font-size: 1rem;
          font-weight: 400;
        }
      }

      a.cta-btn {
        color: $black;
        background-color: $yellow;
        border-radius: 3.125rem;
        height: 2.5rem;
        padding: 0 2rem;
        font-weight: 700;
        margin: 3rem 1rem;
      }
    }

    .cart {
      cursor: pointer;
      background: $yellow;
      width: 3rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 2;
      padding: .5rem;
      border-radius: 10px;
    }
  }

  // iphone X
  @media only screen and (max-width: 600px) {
    top: 20rem;

    img {}
  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}
}

.hero {
  border-left: 0.625rem solid $yellow;
  margin: 2rem 0;
  padding: 0 1rem;

  .big-text {
    font-size: 4.063rem;
    font-weight: 900;
    margin: 0;

    .fs {
      color: $yellow;
    }
  }

  // iphone X
  @media only screen and (max-width: 600px) {
    margin: 0;
    border: none;
    padding: 0;

    .big-text {
      font-size: 2rem;
      text-align: center;
    }
  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}
}

.choose {
  width: 60%;
  margin-top: 8.5rem;

  &.col-1-of-2 {}

  img {
    width: 100%;
  }

  .mat-card {
    background: $black;
    padding: 0;
    padding-right: .75rem;
    border-radius: 1.563rem;
    width: 100%;
    display: grid;
    grid-template-columns: 55% auto;

    .card-context {
      h1 {
        color: $yellow;
        font-size: 1.563rem;
        text-align: right;

        .description {
          font-weight: 400;
          font-size: 0.85rem;
          display: block;
          margin-top: .5rem;
        }
      }

      a.cta-btn {
        color: $black;
        background-color: $yellow;
        border-radius: 3.125rem;
        height: 2.5rem;
        padding: 0 2rem;
        font-weight: 700;
        float: right;
      }
    }

    &.buyer {
      background: $yellow;

      .card-context {
        h1 {
          color: $black;
        }

        a.cta-btn {
          color: $yellow;
          background-color: $black;
        }
      }
    }
  }

  // iphone X
  @media only screen and (max-width: 600px) {
    margin-top: 30rem;
    width: 100%;

    .mat-card {
      width: 20rem;
      height: 9.875rem;

      .card-context {
        h1 {
          font-size: 1.25rem;

          .description {
            font-size: 0.75rem;
          }
        }
      }

      img {
        width: 11rem;
      }
    }
  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}
}

.quick-links {
  margin-top: 10rem;

  .links {
    width: 15.188rem;
    margin: 0 auto;
    text-align: center;

    .mat-card {
      border-radius: 1.563rem;
      width: 6.938rem;
      height: 6.938rem;
      padding-top: 2.5rem;
    }

    .dark {
      background: $black;
    }

    .light {
      background: #F4F7FC;
    }

    .yellow {
      background: $yellow;
    }
  }


  // iphone X
  @media only screen and (max-width: 600px) {
    .links {
      margin: 0 auto;

      &.col-1-of-2 {
        grid-template-columns: repeat(4, 25%);

      }

      .mat-card {
        width: 4.25rem;
        height: 4.25rem;
        padding: 1.375rem;

        img {
          width: 21.05px;
        }
      }
    }

  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}
}

.top-products {
  margin-top: 5rem;

  .products {
    .mat-card {
      border-radius: 0.938rem;
      padding: 0rem;

      .cart {
        cursor: pointer;
        background: $yellow;
        width: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
        padding: .5rem;
        border-radius: 10px;
      }

      .details {

        h1 {
          font-size: 1.25rem;
          font-weight: 900;

          .span {
            font-weight: 400;
            color: $grey;
            font-size: .938rem;
            display: block;
            margin-top: 1rem;
          }

          .metric {
            font-size: .938rem;
            font-weight: 500;
            display: block;
          }
        }
      }
    }
  }

  .top-product {
    .mat-card {
      border-radius: 0.938rem;
      padding: 0 1rem;
      height: 40.5rem;
      width: 36.375rem;

      .cart {
        cursor: pointer;
        background: $yellow;
        width: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
        padding: .5rem;
        border-radius: 10px;
      }

      .details {

        h1 {
          font-size: 1.25rem;
          font-weight: 900;

          .span {
            font-weight: 400;
            color: $grey;
            font-size: .938rem;
            display: block;
            margin-top: 1rem;
          }

          .metric {
            font-size: .938rem;
            font-weight: 500;
            display: block;
          }
        }
      }
    }
  }

  // iphone X
  @media only screen and (max-width: 600px) {
    .top-product {
      .mat-card {
        height: 100%;
        width: 100%;
      }
    }
  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}
}

.suppliers {
  font-size: 1.6rem;
  justify-content: center;

  .supplier-list {
    $padding: 5rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    overflow-x: hidden;

    &:focus,
    &:active {
      outline: 0;
    }

    // card component
    $border-radius: .6rem;
    $bg-grad-start: .8;
    $max-width: 190px;
    $min-height: 240px;

    .mat-card {
      width: 100%;
      max-width: $max-width;
      min-width: $max-width;
      border-radius: $border-radius;
      background: $black;
      padding: 0;
      margin-right: 15px;
      position: relative;
      box-shadow: 0 20px 40px rgba(black, .1), 0 5px 15px rgba(black, .04);

      h1.name {
        position: absolute;
        color: $black;
        top: 5rem;
        right: 1rem;
        font-size: 1.3rem;
        z-index: 2;
        padding: .5rem;
        background: #e1e2e7a8;
        border-radius: 10px;
      }

      transition: all 350ms ease-out 0s;
      overflow: hidden;

      &:hover,
      &:focus {
        .card__overlay {
          opacity: 1;
          top: -150px;
        }

        transform: scale(1.1) translateY(8px);
        transition: all 350ms ease;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus,
      &:active {
        cursor: -webkit-grabbing;
      }
    }


    &::-webkit-scrollbar {
      display: none;
    }
  }

  // iphone X
  @media only screen and (max-width: 600px) {}

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}

}

.contact-us {
  margin-top: 5rem;

  .hero {
    border: none;
    border-top: 0.625rem solid $yellow;
    width: 39.125rem;
    margin: 0 auto;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    background: $default-white;
    padding: 1rem 2rem;
    width: 43.33rem;
    margin: 2rem auto;

    .col-1-of-2 {
      width: 98%;

      &.cta {
        margin-top: 4rem;

        h1 {
          font-size: 0.875rem;
        }
      }
    }

    .mat-flat-button.mat-primary {
      background-color: $yellow;
      padding: 0rem 2rem;
      font-size: 1em;
      font-weight: 700;
      border-radius: 25rem;
      height: 2.5rem;

      &.cta-btn {
        background-color: $black;
      }

      &.transparent {
        background: $default-white;
        font-weight: 700;
        color: $grey;
        border: solid 1px $grey;
      }

      &[disabled] {
        background-color: #DCDDE1;
        color: #B2BEC3;
      }
    }
  }

  // iphone X
  @media only screen and (max-width: 600px) {

    .form,
    .hero {
      width: 100%;
    }
  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}

  // ipad
  @media only screen and (min-width: 768px) {}
}

// iphone X
@media only screen and (max-width: 600px) {
  .home-container {
    .container {
      padding: 1rem 0;
    }
  }
}

// ipad pro
@media only screen and (max-width: 1024px) {}

// ipad
@media only screen and (min-width: 768px) {}
