<h1 class="header stats">Quick stats</h1>
<div class="col-1-of-4">
  <mat-card class="main-card stats success">
    <mat-card-header>
      <mat-card-title>Completed orders</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 class="stat-number">
        {{counter.completed.Count}}
      </h1>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Fulfilled orders on the system</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Learn More.</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="main-card stats primary">
    <mat-card-header>
      <mat-card-title>In progress orders</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 class="stat-number">
        {{counter.inProgress.Count}}
      </h1>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Orders pending by the supplier</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Learn More.</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="main-card stats warning">
    <mat-card-header>
      <mat-card-title>Pending orders</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 class="stat-number">
        {{counter.pending.Count}}
      </h1>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Orders pending by the supplier</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Learn More.</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="main-card stats danger">
    <mat-card-header>
      <mat-card-title>Cancelled orders</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 class="stat-number">
        {{counter.cancelled.Count}}
      </h1>
    </mat-card-content>
    <mat-card-header>
      <mat-card-subtitle>Orders cancelled under special conditions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Learn More.</button>
    </mat-card-actions>
  </mat-card>
</div>
