@import '../../../../../assets/styles/general/colors';

.main-card {
  color: $white;
  cursor: pointer;
  height: 13em !important;
  &.stats {
    height: 11em;

    &.success {
      background-color: $success;
    }

    &.warning {
      background-color: $yellow;
    }

    &.danger {
      background-color: $danger;
    }

    h1 {
      font-size: 2.5em;

    }
  }

  .mat-card-subtitle {
    display: block;
    margin-bottom: 16px;
    color: $white;
  }
}
