<app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>

<div class="contianer">
  <mat-card class="card">
    <div class="icon">
      <img src="assets/images/dashboard/successfully.svg" alt="">
    </div>
    <div class="data">
      <h4>
        {{confirmation.subheading}}!
      </h4>
      <p>
        {{confirmation.text}}
      </p>
      <h3>
        View {{confirmation.type}} details:
      </h3>
      <div class="actions">
        <button class="action" (click)="list()" mat-button>{{confirmation.negativeNavLabel}}</button>
        <button class="action view" (click)="preview()" mat-button>{{confirmation.positiveNavLabel}}</button>
      </div>
    </div>
  </mat-card>
</div>
