@import '../../../../../assets/styles/general/colors';
.commitment {
  background: white;
  padding: 5em 15em;
}
h1 {
  &.main-header  {
    font-size: 2em;
  }
}
.card {
  // border: solid 1px #f2f2f2;
  margin: 5px;
  .card-image {
    .card-icon {
      height: 6em;
    }
  }

  .card-title {
    .header {
      font-weight: 500;
    }
  }

  .card-body {
    width: 60%;
  }
}

.cta-section{
  margin-top: 10em;
  .cta-buttons {
    width: 25em;
    button {
      &.engineer {
        background: transparent;
        border: 1px solid $black;
        color: $black;
      }
      &.supplier {
        background: $yellow;
      }
    }
  }
}
