<section class="commitment">
  <h1 class="main-header">
    Our commitment
  </h1>
  <div class="col-1-of-3">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/home/com-1.svg" class="card-icon" alt="icon 1">
      </div>
      <div class="card-title">
        <h1 class="header">We are customer focus.</h1>
      </div>
      <div class="card-body">
        <p>It has survived not only five centuries,
          but also the leap into electronic typesetting,
          remaining essentially
          unchanged.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="assets/images/home/com-2.svg" class="card-icon" alt="icon 2">
      </div>
      <div class="card-title">
        <h1 class="header">Secured account management.</h1>
      </div>
      <div class="card-body">
        <p>It has survived not only five centuries,
          but also the leap into electronic typesetting,
          remaining essentially
          unchanged.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="assets/images/home/com-3.svg" class="card-icon" alt="icon 3">
      </div>
      <div class="card-title">
        <h1 class="header">Data processing instantly.</h1>
      </div>
      <div class="card-body">
        <p>It has survived not only five centuries,
          but also the leap into electronic typesetting,
          remaining essentially
          unchanged.
        </p>
      </div>
    </div>
  </div>
  <div class="cta-section">
    <h1 class="main-header">
      Quick sign up
    </h1>
    <div class="cta-buttons col-1-of-2">
      <div>
        <button mat-flat-button color="primary" class="engineer">Sign up as engineer</button>
      </div>
      <div>
        <button mat-flat-button color="primary" class="supplier">Sign up as supplier</button>
      </div>
    </div>
  </div>
</section>
