$black: #535C68;
$white:#F5F6FA;
$yellow: #FBC531;
$default-white: #ffffff;
$success: #2ED573;
$light_success: #2ed57342;
$danger:#FF4757;
$grey:#B2BEC3;
$lighter-grey:#E1E2E7;
$strong-grey:#BDC3C7;
$primary:#3742FA;
$light_primary:#3742fa87;
$orange:#FFA502;
$light_yellow:#FDE8AC;
$light_danger:#FFB5BC;
$grey_light: #F5F6FA;
$grey_lighter: #DCDDE1;
