
.form {
  background: $default-white;
  padding: 1rem 2rem;

  .form-fields {
    padding: 2rem 0;

    .input-group {
      padding: .3rem 1rem;

      label,
      input {
        display: block;
      }

      label {
        font-weight: 700;
        font-size: .8rem;
      }

      input {
        border: 1px solid $grey;
        padding: .5rem 1rem;
        margin: .4rem 0;
        border-radius: 3px;
        width: 30%;

      }
      select {
        border: 1px solid $grey;
        padding: .5rem 1rem;
        margin: .4rem 0;
        border-radius: 3px;
        width: 100%;
      }

      .label-input {
        font-weight: 700;
        font-size: .8rem;
      }
    }

    .col-2 {
      display: grid;
      width: 31.5%;
      grid-template-columns: repeat(2, 50%);

      .input-group {
        padding: .3rem 1rem;

        input {
          width: 100%;
        }

        .shoter-input {
          width: 95%;
        }
      }

    }

    .col-3 {
      display: grid;
      width: 40%;
      grid-template-columns: 35% 35% auto;

      .input-group {
        padding: .3rem 1rem;

        input {
          width: 100%;
        }

        .btn {
          margin-top: .2rem;
        }
      }

    }

    .mat-error {
      font-size: 0.82rem;
      font-weight: 600;
    }
  }

  .actions {
    padding: .1rem 1rem;
  }

  .btn {
    background: $yellow;
    color: $default-white;
    padding: .5rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

    &:disabled {
      opacity: .3;
      cursor: no-drop;
    }
  }

  .secondary {
    background: $lighter-grey;
    color: $strong-grey;
    margin-left: 1rem;
  }

  .danger {
    background: $danger;
  }

  .success {
    background: $success;
  }
  .cta{
    border-radius: 3px;
    padding: .6rem 1rem;
  }

}
