.form {
  background: $default-white;
  padding: 1rem;


  button.mat-flat-button {
    background: #FBC531;
    color: #1E272E;
    border-radius: 0rem;
    font-size: 1rem;
    font-weight: 900;
    padding: 0rem 2rem;
    text-transform: uppercase;

    &.mat-primary[disabled] {
      background-color: #DCDDE1 !important;
      color: #B2BEC3 !important;
    }

    &.transparent {
      background: $default-white !important;
      border: solid 1px $grey;
      color: $grey !important;
      font-weight: 600 !important;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 0;
    padding: 1rem;
  }

}
