@import './colors';
@import './grid';
@import './form';
@import './placeholder';
@import './table';
@import './container-fluid';
.container {
  padding: 0;
}

.mat-chip-list-wrapper {
  margin: 18px 0 !important;
}

.chips {
  .chip {
    font-weight: 800;
    font-size: .6rem;
    border-radius: 5px;
    padding: 0 12px;
  }

  .pending {
    color: $orange;
    background: $light_yellow !important;
  }

  .cancelled {
    color: $danger;
    background: $light_danger !important;
  }
}

a {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.error {
  h1 {
    font-size: 1rem;
    font-weight: bolder;
    color: #ff4757;
  }
}

.overlay {
  position: fixed;
  background: #9e9e9ead;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;

  .overlay-modal {
    margin: 8rem auto;
    background: $default-white;
    padding: 1rem;
    width: 40rem;

    @media only screen and (max-width: 600px) {
      width: 90%;
      max-height: 36rem;
      overflow-y: scroll;
    }
  }
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }

}

.mt2 {
  margin: 2rem;
}
