.table {

  .header,
  .row {
    display: grid;
  }

  .header {
    background: $default-white;
    padding: 1rem;
    grid-template-columns: 30% 15% 15% 15% auto;


    .item {
      font-weight: 700;
    }
  }

  .row {
    grid-template-columns: 10% 20% 15% 15% 15% auto;
    background: $default-white;
    margin: .5rem;

    .item {
      font-weight: 400;
      padding: .75rem .5rem;
      box-sizing: border-box;
      height: 5rem;
      font-size: .8rem;

      .image {
        width: 4rem;
        height: 4rem;
        text-align: center;
        padding: 0;
        overflow: hidden;
        border-radius: 4px;
      }

      img {
        width: 100%
      }

      b {
        font-weight: 900;
      }

      .mt1 {
        margin-top: 1rem;
        display: block;
      }

      .small-text {
        font-size: .6rem;
      }

      span.active {
        display: block;
        background: $active-fill;
        color: $success;
        border: 1px solid $success;
        padding: .4rem .6rem;
        font-weight: 800;
        font-size: .8rem;
        width: 5rem;
        text-align: center;
        border-radius: 1rem;
        margin-top: .5rem;
      }
    }
  }
}
