.table {
  @media only screen and (max-width: 600px) {
    display: none;
  }

  .table-content {
    height: 38rem;
    overflow: scroll;
  }

  .header,
  .row {
    display: grid;
  }

  .header {
    background: $default-white;
    padding: 1rem;
    grid-template-columns: 20% 25% 15% auto;
    border-radius: 15px;

    .item {
      font-weight: 700;
      padding: .2rem 1rem;
    }
  }

  .row {
    grid-template-columns: 5% 15% 25% 15% auto;
    background: $default-white;
    margin: .5rem;
    border-radius: 15px;

    .item {
      font-weight: 400;
      padding: .75rem 1rem;
      box-sizing: border-box;
      height: 5rem;
      font-size: .8rem;

      &.cta {
        width: 50%;
        // margin: 0 auto;
        display: grid;
        grid-template-columns: 50% auto;

        .icon {
          cursor: pointer;

          img {
            height: 3rem;
            margin: .5rem 0;
          }
        }
      }
      .description {
        font-weight: 600;
        color: $grey;
        max-height: 2.6rem;
        overflow: hidden;
        .name{
          display: block;
          margin: .3rem;

        }
      }

      .image {
        width: 4rem;
        height: 4rem;
        text-align: center;
        padding: 0;
        overflow: hidden;
        border-radius: 4px;
      }

      img {
        width: 100%
      }

      b {
        font-weight: 900;
      }

      .mt1 {
        margin-top: 1rem;
        display: block;
      }

      .small-text {
        font-size: .6rem;
      }

      span.active {
        background: $active-fill;
        color: $success;
        border: 1px solid $success;
        padding: .2rem .5rem;
        font-weight: 800;
        font-size: .7rem;
        width: 5rem;
        text-align: center;
        border-radius: 1rem;
        margin-top: .5rem;
      }

      span.number {
        background: $lighter-grey;
        color: $black;
        border: 1px solid$lighter-grey;
        padding: .2rem .5rem;
        font-weight: 500;
        font-size: .7rem;
        width: 7rem;
        text-align: center;
        border-radius: 5px;
        margin-top: .5rem;
        margin-left: 1rem;
        display: flex;
      }

      button {
        background: $yellow;
        color: $black;
      }
    }
  }

  &.default {
    .header {
      background: none;
      grid-template-columns: 20% 15% 25% 20% auto;

      .item {
        font-size: 1rem;
        text-transform: capitalize;
        color: $grey;
        font-weight: 600;
      }
    }

    .row {
      grid-template-columns: 5% 15% 15% 25% 20% auto;
      border-radius: 5px;

      .item {
        p {
          b {
            display: block;
            font-weight: 800;
            color: $black;
          }

          font-weight: 500;
          color: $grey;

          &.badge {
            border: solid 1px $grey;
            padding: .5rem;
            text-align: center;
            border-radius: 2rem;
            background: $lighter-grey;
            width: 90%;
          }
        }
      }
    }
  }
}


.table-mobile {
  display: none;


  @media only screen and (max-width: 600px) {
    display: block;
  }

  .row {
    display: grid;
    grid-template-columns: 20% 60% auto;

    .item {
      font-weight: 400;
      box-sizing: border-box;
      height: 5rem;
      font-size: .7rem;
      background: $default-white;

      .image {
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
        padding: 0;
        overflow: hidden;
        border-radius: 4px;

        img {
          height: 3.5rem;
        }
      }

      p {

        b {
          font-weight: 700;
        }

        .price {
          display: block;
          font-weight: 500;
        }
      }

      button {
        background: $yellow;
        color: $black;
        width: 4rem;
        font-size: .8rem;
        border-radius: 2rem;
      }
    }

  }


}
