@import '../../../../../assets/styles/general/colors';

.material {
  background: $white;
  margin-top: 20em;
  padding: 10em;

  .main-block {
    width: 50em;

    h1 {
      &.header {
        font-weight: 100;
        font-size: 50px;
      }
    }
  }



}

@media only screen and (max-width: 600px) {
  .material {
    padding: 0;

    .main-block {
      width: 20em;
      h1 {
        &.header {
          font-weight: 100;
          font-size: 35px;
          width: 8em;
        }
      }

      img.image {
        height: 7em;
      }
    }
  }
}
