@import '../../../../../assets/styles/general/colors';

.material {
  background: $white;
  margin-top: 20em;
  padding: 10em;

  .main-block {
    width: 50em;
    h1 {
      &.header {
        font-weight: 100;
        font-size: 50px;
      }
    }
  }



}
