@import '../../../../assets/styles/general/colors';

.mat-toolbar {
  background-color: $yellow;
  padding: 1rem 15rem;
  display: grid;
  grid-template-columns: 65% 25% auto;

}

.header-icon {
  height: 2.5em;

}

mat-toolbar-row {

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;

    li {
      display: inline;
      font-size: 17px;

      a {
        text-transform: lowercase;
        color: $black;
        text-decoration: none;
        font-weight: 600;
        padding: 14px;

        &.cta-btn {
          color: $white;
          border-radius: 3.125rem;
          height: 2.5rem;
          padding: 0 2rem;
        }

        .count {
          position: absolute;
          top: 1rem;
          right: 19rem;
          background: $default-white;
          border-radius: 2rem;
          height: 1.7rem;
          width: 1.563rem;
          font-size: .8rem;
          font-weight: 800;
        }
      }
    }
  }

}

.mat-flat-button {
  background: $black;
  color: $default-white;
}

.mat-menu-item {
  a {
    color: $black;
    font-weight: 700;
  }

  img {
    margin-right: 1rem;
    height: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 768) {
  .desktop {
    display: none;
  }
}

// ipad pro
@media only screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
}
