<div class="main userProfile">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
  <div class="container" *ngIf="user">
    <div class="profile col-1-of-2">
      <div class="general">
        <div class="dp">
          <img src="assets/images/home/avatar.svg" alt="avatar">
        </div>
        <div class="work">
          <h1 class="heading">Work</h1>
          <hr class="line">
          <div class="content col-1-of-1">
            <span *ngIf="user.Company">
              <h1>
                {{user.Company.CompanyName}}
                <span class="badge">{{user?.Roles.RoleName}}</span>
              </h1>
              <h1 class="address">
                {{user.Company.CompanyAddress}} {{user.Company.City}}, {{user.Company.Province}}
              </h1>
            </span>
            <span *ngIf="user.Company?.SubBranches">
              <span *ngFor="let item of user.Company?.SubBranches">
                <h1>
                  {{item.CompanyName}}
                  <span class="badge">{{user?.Roles.RoleName}}</span>
                </h1>
                <h1 class="address">
                  {{user.Company.CompanyAddress}} {{user.Company.City}}, {{user.Company.Province}}
                </h1>
              </span>
            </span>

          </div>
        </div>
        <div class="work">
          <h1 class="heading">Role(s)/Access</h1>
          <hr class="line">
          <div class="">
            <h1 class="address">
              {{user?.Roles.RoleName}}
            </h1>
          </div>
        </div>
      </div>
      <div class="detailed">
        <div class="content col-1-of-2">
          <h1 class="heading">
            {{user?.FirstName}} {{user?.LastName}}
            <span class="span">
              {{user?.Roles.RoleName}}
            </span>
          </h1>
          <div class="address" *ngIf="user.Address">
            <h1 class="text">{{user.Address[0].City}}, {{user.Address[0].Province}}</h1>
          </div>
          <div class="rating">
            <h1 class="subHeading">
              System Ranking
            </h1>
            <div class="score col-1-of-2">
              <h1 class="value">{{rating}}</h1>
              <p-rating readonly="true" [(ngModel)]="rating" disabled="true" [cancel]="false"></p-rating>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <mat-tab-group class="tab-group">
            <mat-tab t-tab label="About">
              <h1 class="subHeading">
                Contact information
              </h1>
              <div class="details col-1-of-2">
                <h1 class="text">Fullname:</h1>
                <h1 class="value">{{user?.FirstName}} {{user?.LastName}}</h1>
              </div>
              <div class="details col-1-of-2">
                <h1 class="text">Phone:</h1>
                <h1 class="value span">{{user?.Cellphone}}</h1>
              </div>
              <div class="details col-1-of-2">
                <h1 class="text">Email:</h1>
                <h1 class="value">{{user?.Email}}</h1>
              </div>
            </mat-tab>
            <mat-tab t-tab label="Address(s)">
              <div class="head-content col-1-of-2">
                <h1 class="subHeading">
                  Address information
                </h1>
                <button *ngIf="actionButton" mat-flat-button color="primary">
                  add address
                </button>
              </div>

              <div class="table address">
                <div class="header">
                  <div class="item">Address Type</div>
                  <div class="item">Address</div>
                  <div class="item">City</div>
                  <div class="item">Province</div>
                  <div class="item">PostalCode</div>
                </div>
                <div class="table-content">
                  <div class="row" *ngFor="let item of user.Address">
                    <div class="item">
                      <img src="assets/images/dashboard/placeholders/address.png" alt="address">
                    </div>
                    <div class="item">
                      <p><b>{{item?.AddressType}}</b></p>
                    </div>
                    <div class="item">
                      <p>{{item?.AddressLine2}}, {{item?.AddressLine2}}</p>
                    </div>
                    <div class="item">
                      <p>{{item?.City}}</p>
                    </div>
                    <div class="item">
                      <p>{{item?.Province}}</p>
                    </div>
                    <div class="item">
                      <p>{{item?.PostalCode}}</p>
                    </div>
                  </div>
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay">
  <div class="overlay-modal">
    <app-add-address></app-add-address>
  </div>
</div>
