<mat-toolbar class="header">
  <div class="col-1-of-1 items">
    <div class="profile">
      <app-user-dp></app-user-dp>
    </div>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/dashboard.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/dashboard-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Dashboard
          </div>
        </a></li>
      <li *ngIf="isAdmin || isSupplier">
        <a routerLink="/dashboard/products" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/products.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/products-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Products
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/orders" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/order.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/order-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Orders
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/deliveries" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/delivery-truck.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/delivery-truck-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Deliveries
          </div>
        </a>
      </li>
      <li *ngIf="isAdmin || isSupplier">
        <a routerLink="/dashboard/employees" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/staff.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/staff-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Employees
          </div>
        </a>
      </li>
      <li *ngIf="isAdmin || isSupplier">
        <a routerLink="/dashboard/companies" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/company.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/company-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Companies
          </div>
        </a>
      </li>
      <li *ngIf="isAdmin || isSupplier">
        <a routerLink="/dashboard/partners" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/team.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/team-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Partners
          </div>
        </a>
      </li>
    </ul>
    <ul>
      <hr class="line">
      <li *ngIf="isAdmin || isSupplier">
        <a routerLink="/dashboard/settings" routerLinkActive="active-link">
          <div class="nav-item">
            <img src="assets/images/dashboard/nav/settings.svg" alt="feed" class="hl-on">
            <img src="assets/images/dashboard/nav/settings-disabled.svg" alt="feed" class="hl-off">&nbsp;
            Settings
          </div>
        </a>
      </li>
    </ul>
  </div>

</mat-toolbar>
