<div class="main">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
</div>

<div class="main" *ngIf="products$  | async as products">
  <div class="table" *ngIf="products.length > 0; else notFound">
    <div class="header">
      <div class="item">Product Name</div>
      <div class="item">Product Code</div>
      <div class="item"> Price</div>
      <div class="item"> Category</div>
      <div class="item"> </div>
    </div>
    <div class="row" *ngFor="let item of products">
      <div class="item">
        <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" />
        <img src="assets/images/product-placeholder.png" *ngIf="!item.Images" alt="" />
      </div>
      <div class="item">
        <b>
          {{item.ProductName}}
        </b>
        <span class="active">
          Active
        </span>
      </div>
      <div class="item">
          {{item.ProductCode}}
      </div>
      <div class="item">
         <b class="mt1">
          {{item.Price | currency:'R'}}  
          <span *ngIf="item.Units">
            /   {{item.Units}}
          </span>
         </b>
      </div>
      <div class="item" *ngIf="item.Category">
        {{item.Category.CategoryName}}
      </div>
      <div class="item" *ngIf="!item.Category">
       <span>No Category</span>
      </div>
      <div class="item">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="more(item)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <div class="not-found">
      <!-- <img [src]="notFoundModel.Image" alt="no items found"> -->
      <h1 class="message">
        No product found
        <span>
          <a class="link-add" (click)="add()"> add new product.</a>
        </span>
      </h1>
    </div>
  </ng-template>
</div>
