@import '../../../../../assets/styles/general/colors';

.account-container {
  padding: 2rem 10rem;
  min-height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  background: $default-white;
  padding: 1rem 2rem;
  width: 50%;
  margin: 0 auto;

  .col-1-of-2 {
    width: 96%;

    &.cta {
      margin-top: 4rem;

      h1 {
        font-size: 0.875rem;
      }
    }
  }
}

.form-heading {
  font-size: 1.65rem;
  font-weight: 900;
  margin: 2em 0;
}

::ng-deep {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding: 0em 1em;
      border-radius: 5px;
    }
  }
}


.mat-flat-button.mat-primary {
  background-color: $yellow;
  padding: 0rem 2rem;
  font-size: 1em;
  font-weight: 700;
  border-radius: 25rem;
  height: 2.5rem;
  &.cta-btn {
    background-color: $black;
  }
  &.transparent {
    background: $default-white;
    font-weight: 700;
    color: $grey;
    border: solid 1px $grey;
  }
  &[disabled] {
    background-color: #DCDDE1;
    color: #B2BEC3;
  }
}

.select {
  padding: 1em 0;

  .mat-radio-button {
    margin: 1em;
  }

}


@media only screen and (max-width: 600px) {
  .account-container {
    padding: 0;
  }

  .form {
    padding: 1em;
    width: 100%;
    border-radius: 5px;
  }

  .form-heading {
    font-size: 1.25em;
    margin: 1em 0;
  }

  .mat-flat-button.mat-primary {
    background-color: $yellow;
    padding: 0rem 2rem;
    font-size: 1em;
    font-weight: 500;
    border-radius: 25rem;
    height: 2.5rem;

    &.cta-btn {
      background-color: $black;
    }

    &[disabled] {
      background-color: #DCDDE1;
      color: #B2BEC3;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .account-container {
    padding: 0;
  }

  .form {
    padding: 1em;
    width: 75%;
    border-radius: 5px;
  }

  .form-heading {
    font-size: 1.5em;
    margin: 1em 0;
  }
}
