<div class="account-container">
  <form class="form" [formGroup]="rForm">
    <h1 class="form-heading">Forgot password reset.</h1>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" formControlName="Email" MatFormFieldControl type="email" required>
      <mat-error *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">a valid email address is required</mat-error>
    </mat-form-field>
    <div class="col-1-of-2">
      <button mat-flat-button color="primary" (click)="onSubmit(rForm.value)" [disabled]="!rForm.valid">
        Submit
      </button>
      <a  mat-flat-button color="primary" class="transparent" routerLink="/">Cancel</a>
    </div>

    <div class="error" *ngIf="error">
      <h1>{{error}}</h1>
    </div>
  </form>
</div>
