<div class="overlay" *ngIf="showConfirmDeleteModal">
  <div class="overlay-modal">
    <mat-card class="confirm">
      <img *ngIf="confirm?.Image"  [src]="confirm?.Image" alt="delete" class="">
      <img *ngIf="!confirm?.Image" src="assets/images/dashboard/action-card/delete.svg" alt="delete" class="">
      <div class="dialog">
        <h1 class="heading">Are you sure?
          <span>This record will not be visible on the system.</span>
        </h1>
      </div>
      <div class="cta col-1-of-2">
        <button type="submit"  class="btn grey" (click)="continue()">Yes, delete</button>
        <button type="submit"   class="btn cta" (click)="cancelAction()">Cancel</button>
      </div>
    </mat-card>
   </div>
</div>
