@import '../../../assets/styles/general/colors';

mat-icon {
  cursor: pointer;

}

.mat-toolbar.header-main {
  background: $default-white !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mat-toolbar {
  background: transparent !important;
}

.drawer {
  position: fixed;
  height: 100vh;
  min-width: 10vw;
  background-color: $default-white;

  &.desktop {
    display: block;
  }
}

h1.home-app-name {
  margin-left: 8px;
}

.home-sidenav-container {
  height: 100vh;
  flex: 1;

  // background: $black;
  .col-1-of-3 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 0rem;
  }
}

.mat-drawer.mat-sidenav {
  background: $yellow;
  width: 100%;

  a {

    font-weight: 200;
    font-size: 25px;
    color: $black;

    .nav-item {
      padding: 0.5rem 1rem;
      width: 11rem;
      text-align: left;

      img {
        &.hl-on {
          display: inline-block;
        }

      }

      @media only screen and (max-width: 600px) {
        background: $default-white;
        margin: 1rem auto;
        width: 10rem;
        border-radius: 10px;
        color: $black;

        h1 {
          font-size: 16px;
          font-weight: 600;
        }
      }

      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
    }

    &.active-link {
      font-weight: 800;
      color: $black;

      .nav-item {
        padding: 0.5rem 1rem;
        background: #ecb9005c;
        border-radius: 50px 0px 0px 50px;
        border-right: solid 5px $yellow;

        img {
          &.hl-on {
            display: inline-block;
          }

        }
      }
    }
  }

  .account {
    ul {
      list-style: none;
    }
  }
}

.home-is-mobile .home-sidenav-container {

  flex: 1 0 auto;
}

.drawer {

  position: absolute;
  top: 0;
}

.drawer .header {
  // position: absolute;
  // right: 0;
  // top: 15rem;
  // justify-content: space-between;
}

.drawer .contents {
  padding: 16px;
}

.main {
  background-color: $white;
}

.main.header {

  width: 100%;
  color: $white;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

.mat-drawer-side {
  border-right: 0;
}

.header {
  width: 100%;
  color: $white;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 20rem;

    li {
      margin-top: 1rem;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      color: $black;
      font-weight: 500;

      .nav-item {
        padding: 0.5rem 1rem;
        width: 11rem;
        text-align: center;

        img {
          &.hl-on {
            display: none;
          }

          &.hl-off {
            display: inline-block;
          }
        }
      }

      &.active-link {
        font-weight: 800;
        color: $black;

        .nav-item {
          padding: 0.5rem 1rem;
          background: #ecb9005c;
          border-radius: 50px 0px 0px 50px;
          border-right: solid 5px $yellow;

          img {
            &.hl-on {
              display: inline-block;
            }

            &.hl-off {
              display: none;
            }
          }
        }
      }

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.menu-items {
  position: absolute;
  top: 10em;

  ul {
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      color: $black;
      font-weight: 400;

      &:hover {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

.logo {
  img {
    height: 4em;
  }
}

.sign-out {
  height: 3vh;
  position: absolute;
  right: 15em;
  cursor: pointer;

  img {
    height: 100%;
  }
}

.main.contents {}

.main.footer {
  // position: fixed;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
  background-color: $black !important;
  color: $white !important;
}

.menu {
  color: $yellow;
}

.profile {
  margin-left: 1em;

  .title {
    font-weight: 600;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 1rem;
  }

  .sign-out {
    right: 1em;
  }

  .mat-toolbar {
    background: $default-white !important;
  }

  .drawer {
    width: 100% !important;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &.desktop {
      display: none;
    }
  }
}
