<!-- <mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <mat-toolbar class="header">
      </mat-toolbar>
    <app-dashboard-nav (toggleNav)="drawer.close()"></app-dashboard-nav>
  </mat-drawer>

  <mat-toolbar class="main header-main">
    <mat-icon *ngIf="!drawer.opened" class="menu" (click)="drawer.toggle()">
      view_list
    </mat-icon>
    <div class="profile">
      <h1 class="title">
        Welcome, {{currentUser.FirstName}} {{currentUser.LastName}}
      </h1>
    </div>

    <div class="sign-out">
      <img src="assets/images/dashboard/off.svg" alt="sign-out" (click)="signOut()">
    </div>
  </mat-toolbar>

  <div class="main contents">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container> -->
<div [class.home-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="home-toolbar mobile">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink=""><img src="assets/images/home/icon.svg" alt="header icon" class="header-icon"></a>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-dashboard-nav (toggleNav)="drawer.close()"></app-dashboard-nav>
  <mat-sidenav-container class="home-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <div class="col-1-of-3">
        <a mat-list-item routerLink="" (click)="snav.toggle()">
          <img src="assets/images/home/home-lined.svg" alt="home outlined">
          <h1>
            home
          </h1>
        </a>
      </div>
      <div class="account">
        <a mat-list-item routerLink="/sign-in" (click)="snav.toggle()">
          <img src="assets/images/home/user-yellow.svg" alt="home outlined">
            Sign in
        </a>
        <a  mat-flat-button color="primary" class="cta" routerLink="/sign-up"  (click)="snav.toggle()">register for free</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="home-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>
