<mat-toolbar class="desktop">
  <mat-toolbar-row>
    <a routerLink="/dashboard"><img src="assets/images/home/icon.svg" alt="header icon" class="header-icon"></a>
    <ul>
       <li *ngIf="isAdmin || isEngineer"><a routerLink="/dashboard/orders">Orders</a></li>
    </ul>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <ul>
      <li>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <img src="assets/images/home/user.svg" alt="user icon">
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="" (click)="signOut()">
            <button mat-menu-item>
              <img src="assets/images/home/login.svg" alt="login icon">
              <span>logout</span>
            </button>
          </a>
        </mat-menu>
      </li>
    </ul>
  </mat-toolbar-row>

</mat-toolbar>
