@import '../../../../assets/styles/general/colors';

.mat-toolbar {
  background-color: $default-white;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns:   80% auto;
  box-shadow: 0px -2px 37px -10px #b3b3b347;
}

.header-icon {
    height: 2.5em;

}

mat-toolbar-row {

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;

    li {
      display: inline;
      font-size: 17px;

      a {
        text-transform: lowercase;
        color: $black;
        text-decoration: none;
        font-weight: 600;
        padding: 14px;
      }

      h1 {
        &.time {
          width: 34%;
          color: $grey;
          margin: 0 auto;
          margin-right: 6em;
          font-size: 1em;

          &.col-1-of-2 {
            @media only screen and (max-width: 600px) {
              grid-template-columns: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

}



.mat-flat-button {
  background: $black;
  color: $default-white;
}
.mat-menu-item {
  a {
    color: $black;
    font-weight: 700;
  }
  img {
    margin-right: 1rem;
    height: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 768) {
  .desktop {
    display: none;
  }
}
// ipad pro
@media only screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
}
