@import '../../../../assets/styles/general/colors';

.mat-toolbar {
  background-color: $default-white;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns:   90% auto;

}

.header-icon {
    height: 2.5em;

}

mat-toolbar-row {

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    // position: absolute;
    // right: 1em;

    li {
      display: inline;
      font-size: 17px;

      a {
        text-transform: lowercase;
        color: $black;
        text-decoration: none;
        font-weight: 600;
        padding: 14px;
      }
    }
  }

}

.mat-flat-button {
  background: $black;
  color: $default-white;
}
.mat-menu-item {
  a {
    color: $black;
    font-weight: 700;
  }
  img {
    margin-right: 1rem;
    height: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}
@media only screen and (max-width: 768) {
  .desktop {
    display: none;
  }
}
// ipad pro
@media only screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
}
