@import '../../../../assets/styles/general/colors';
.col-1-of-4 {
  grid-template-columns: repeat(5,20%);
}
.heading {
  h1 {
    font-size: 1em;
    padding: 0 1em;
    text-transform: uppercase;
    color: #a4b0be;
    font-weight: 500;

  }
  margin: 0;
}

.container-table {
  overflow-y: scroll;
  height: 40em;

  .table-card {

    h1 {
      font-size: 20px;
    }

    .header {
      &.col-1-of-2 {
        grid-template-columns: 20% auto;
      }
    }

    .date {
      display: block;
      margin: 0.5em 0;
      font-weight: 600;
      font-size: .9em;
      color: $grey;
    }

    .data {
      .text {
        font-weight: 400;
        font-size: 18px;
      }

      .span {
        display: block;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        margin: 1em 0;
        color: $grey;
      }
    }
  }

  .mat-card {
    padding: 0.5em;
  }

}

.buttons {
  padding: .2rem;
  line-height: 20px;
  color: #fff;
  margin: .2rem;
  min-width: 1rem;
  margin-top: .5rem;

  &:disabled{
    background: $grey_light;
    color: $grey;
  }
}

button.sucees {
  background: $success;
}

button.primary {
  background: $primary;
}
button.danger {
  background: $danger;
}

@media only screen and (max-width: 600px) {
  .col-1-of-4 {
    grid-template-columns: repeat(1,100%);
  }
  .heading {
    display: none;
  }
}
