@import '../../../../assets/styles/general/colors';

.header-icon {
  height: 2.5em;
}

mat-toolbar-row {
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    position: absolute;
    right: 1em;

    li {
      display: inline;
      font-size: 17px;

      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
      }
    }
  }

}

.mat-flat-button {
background: $yellow;
color: $default-white;
}
