<!-- <div class="main">

  <p-messages [value]="msgs"></p-messages>

  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>

  <div class="container" *ngIf="categories else noCategories;">
    <div class="heading col-1-of-4">
      <h1>description</h1>
      <h1>status</h1>
      <h1>date created</h1>
      <h1>actions</h1>
    </div>
    <div class="container-table">
      <mat-card *ngFor="let item of categories">
        <span class="table-card col-1-of-4">
          <div class="header col-1-of-2">
            <img src="assets/images/dashboard/settings/image.svg" alt="image vector">
            <h1 class="header">
              {{item.CategoryName}}
            </h1>
          </div>
          <div class="data">
            <mat-chip-list class="chips">
              <mat-chip class="chip success" *ngIf="item.StatusId == '1'">active</mat-chip>
              <mat-chip class="chip cancelled" *ngIf="item.StatusId == '2'">disabled</mat-chip>
            </mat-chip-list>
          </div>
          <div class="data">
            <h1 class="text">
              {{item.CreateDate | date:'mediumDate'}}
            </h1>
          </div>

          <div class="data">
            <button class="buttons primary" [disabled]="item.StatusId !== '1' && item.StatusId !== '2'"
              (click)="updateCategory(item)" matTooltip="Edit this category." mat-button>
              <mat-icon matDatepickerToggleIcon>edit</mat-icon>
            </button>
            <button class="buttons danger" [disabled]="item.StatusId !== '1'" (click)="archiveCategory(item)"
              matTooltip="Archive this category." mat-button>
              <mat-icon matDatepickerToggleIcon>cancel</mat-icon>
            </button>
          </div>
        </span>
      </mat-card>
    </div>
  </div>
  <ng-template #noCategories>
    <app-placeholder [placeHolder]="placeHolder"></app-placeholder>
  </ng-template>

</div> -->

<div class="main">
  <app-banner [subheading]="subheading" [heading]="heading" [actionButton]="actionButton"></app-banner>
  <div class="table" *ngIf="categories else noCategories;">
    <div class="header">
      <div class="item">description</div>
      <div class="item">status</div>
       <div class="item">actions</div>
    </div>
    <div class="table-content">
      <div class="row" *ngFor="let item of categories">
        <div class="item">
          <div class="image">
            <!-- <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" /> -->
            <img src="assets/images/product-placeholder.png" *ngIf="!item.Images" alt="category image" />
          </div>
        </div>
        <div class="item">
          <p>
            <b>{{item.CategoryName}}</b>
          </p>
          <p>
            <span>
              {{item.CreateDate | date:'fullDate'}}
            </span>
          </p>
        </div>
        <div class="item">
          <p>
            information here
          </p>
        </div>
        <div class="item">
          <button mat-icon-button [matMenuTriggerFor]="subMenu"
            aria-label="Example icon button with a vertical three dot icon" (click)="more(item)">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #subMenu="matMenu" class="menu">
            <button mat-menu-item>
              update
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
