<mat-card [ngClass]="class">
  <div class="col-1-of-1">
    <span>
      <h1 class="header">
        Profile Information
      </h1>
      <hr class="line">
    </span>
  </div>
  <div class="card-body">
    <div class="col-1-of-2">
      <h1 class="heading">
        Cash build material suppliers
        <span class="text">
          Umbilo 178, Durban Kwa-Zulu Natal
        </span>
      </h1>
      <div class="col-1-of-1">
        <h1 class="stats">
          Branches
          <span class="value">
            0
          </span>
        </h1>
        <h1 class="stats">
          Total staff
          <span class="value">
            12
          </span>
        </h1>
      </div>
      <div class="description">
        <h1 class="text">
          Create a new order on the system, together with a delivery process.
        </h1>
      </div>
      <div class="image">
        <img src="assets/images/dashboard/action-card/creaate-order.svg" alt="create order">
      </div>
    </div>
  </div>
  <div class="actions">
    <button type="submit" mat-flat-button class="btn cta">Create product</button>
    <button type="button" mat-flat-button class="btn secondary cta">Cancel</button>
  </div>
</mat-card>
