@import '../../general/colors';

.mat-toolbar {
  // background: transparent !important;
  color: $black;
  position: fixed;
  z-index: 1000;
  background: linear-gradient(110deg, $yellow 60%, $black 60%) !important;
}
