@import './home-nav';
@import './search-bar';
@import './card-list';
@import './account';
.home-container {
  padding-bottom: 0;
  background-color: $default-white;

  .container {
    padding: 6rem 15.5rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 3rem 0rem;
    .container {
      padding: 3rem 0;
    }
  }

  // ipad pro
  @media only screen and (max-width: 1024px) {}


  @media only screen and (min-width: 768) {}

}
