@import '.../../../../../../../assets/styles/general/colors';


.table {
  .header {
    grid-template-columns: 25% 20% 15% 15% auto;
  }

  .row {
    grid-template-columns: 5% 20% 20% 15% 15% auto;
  }

  .item {
    .description {
      font-weight: 600;
      color: $grey;
      max-height: 2.6rem;
      overflow: hidden;
      .name{
        display: block;
        margin: .3rem;

      }
    }
  }
}
