<div class="table default" *ngIf="deliveries?.length > 0; else notFound">
  <div class="header">
    <h1 class="item">Customer</h1>
    <h1 class="item">Status</h1>
    <h1 class="item">Order #</h1>
    <h1 class="item">Driver</h1>
    <h1 class="item">Delivery Address</h1>
    <h1 class="item">Delivery Date:Time</h1>
    <h1 class="item">Actions</h1>
  </div>
  <div class="table-content">
    <div class="row" *ngFor="let item of deliveries">
      <div class="item">
        <div class="image">
          <!-- <img [src]="item.Images[0].Url" alt="" *ngIf="item.Images" /> -->
          <img src="assets/images/home/avatar.svg" alt="place holder" />
        </div>
      </div>
      <div class="item">
        <p>
          <b>{{item?.Order?.Customer.FirstName}} {{item?.Order?.Customer.LastName}}</b>
          Joining Date: &nbsp;{{item?.Order?.Customer.CreateDate | date:'dd'}}.
          {{item?.Order?.Customer.CreateDate | date:'MM'}}.{{item?.Order?.Customer.CreateDate | date:'yy'}}
        </p>
      </div>
      <div class="item">
        <p class="badge status-InProgress">
          <!-- to change to meaningful word -->
          in progress
        </p>
      </div>
      <div class="item">
        <p>
          <b>
            ORD-{{item?.Order?.OrderNo}}
          </b>
        </p>
      </div>
      <div class="item">
        <p>
          no driver assigned
        </p>
      </div>
      <div class="item">
        <p class="description" *ngIf="item?.Order.Address">
          {{item?.Order?.Address?.AddressLine1}}, {{item?.Order?.Address?.AddressLine2}},
          {{item?.Order?.Address?.AddressLine3}}<br>
          {{item?.Order?.Address?.City}}, {{item?.Order?.Address?.Province}}, {{item?.Order?.Address?.PostalCode}}
        </p>
        <p *ngIf="!item?.Order.Address">No delivery address captured</p>
      </div>
      <div class="item">
        <p>
          <b>{{item.DeliveryDate}}</b>{{item.DeliveryTime}}
        </p>
      </div>
      <div class="item cta">
        <div class="icon" (click)="onCardClick(item)">
          <img src="assets/images/dashboard/action-card/view.svg" alt="feed" class="hl-on">
        </div>
        <!-- <div class="icon">
          <img src="assets/images/dashboard/action-card/delete.svg" (click)="deleteItem(item)" alt="feed" class="hl-on">
         </div> -->
      </div>
    </div>
  </div>
</div>
<ng-template #notFound>
  <app-placeholder [placeHolder]="placeHolder"></app-placeholder>
</ng-template>
