<div class="container">
  <div class="main-block">
    <h1 class="header">
      Breaking barriers through innovative digital <br /> solutions.
    </h1>
    <div class="col-1-of-2">
      <div>
        <h1 class="cta-text">Sign up for 60 day free trial.</h1>
      </div>
      <div>
        <a routerLink="sign-up">
          <button mat-flat-button color="primary">Sign up for free</button>
        </a>
      </div>
    </div>
  </div>
  <app-material-section></app-material-section>
  <app-commitment-section></app-commitment-section>
</div>
