<mat-card class="booking">
  <h1 class="heading">
    Watch video tutorials of our system.
  </h1>
  <hr class="line">
  <div class="col-1-of-2">
    <div class="context">
      <h1 class="text">
        We will walk you the system.
      </h1>
      <h1 class="text">
        Watch our "How to" videos for quick up to speed on how to use this system.
        <br/>
        <br/>
        No computer specific skill required, *but you must have basic introduction level knowledge.
      </h1>
      <div class="col-1-of-2">
        <button mat-flat-button color="primary" class="primary">
          Watch Videos
        </button>
        <h1 class="text">
          & start supplying today.
        </h1>
      </div>
      <h1 class="info">
        *For clients located in different areas a demo can be done through video conferencing tools available.
      </h1>
    </div>
    <div class="image">
      <img src="assets/images/dashboard/banner/banner-booking.svg" alt="banner booking">
    </div>
  </div>
</mat-card>
