@import '../../../../assets/styles/general/colors';

.footer-container {
  padding: 2rem 15rem;
  background: $yellow;

  .icon {
    img {
      height: 3rem;
    }
  }

  .quick-links {
    .heading {
      font-size: 1rem;
      color: $white;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1em 0;

        a {
          color: #f2f2f2;
          text-decoration: none;
          padding: 14px;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .footer-container {
    padding: 1em;

    .icon {
      img {
        height: 2.5em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer-container {
    padding: 1em;

    .icon {
      img {
        height: 2.5em;
      }
    }
  }
}
