<div class="footer-container">
  <div class="col-1-of-3">
    <div class="icon">
      <a routerLink="">
        <img src="assets/images/home/logo.svg" alt="footer-icon">
      </a>
    </div>
    <div class="quick-links">
      <u>
        <h1 class="heading">
          Quick links.
        </h1>
      </u>

      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="">Our services</a></li>
        <li><a routerLink="">pricing</a></li>
        <li><a routerLink="/register" mat-flat-button  color="primary" class="cta-btn">register for free</a></li>
        <li><a routerLink="/login">login</a></li>
      </ul>
    </div>
  </div>
</div>
